[2021-02-19 14:53] khushishikhu opened #1 "docs: Add Local setup instructions"
## Description
Add the local setup instructions to sun the project for newcomers

[2021-02-19 14:54] khushishikhu opened #2 "docs: Add a PR template"
## Description
Add the PR template for opening any Pull Request

## Status
Discuss with the mentor.

[2021-02-19 14:58] khushishikhu opened #3 "Feat: Modify the "Tap Here" button"
## Description
Modify the Tap Here button of the homepage

[2021-02-19 15:04] khushishikhu opened #4 "docs: Add an Issue template"
## Description
Add a the issue template which will help the newcomers to open any issue in a particular manner

[2021-02-19 15:18] khushishikhu opened #5 "coding: design the About page"
## Description
Design the About page on figma and discuss it with mentors

[2021-02-19 15:19] khushishikhu opened #6 "feat: About section in Navbar"
## Description
Add the about section in the navbar of the homepage

[2021-02-20 02:37] Aaishpra opened #7 "Coding: Make the website more responsive"
## Description
Currently the website doesn't looks good in small screen view

## Solution
Make it responsive enough smartphone screen, by adding correct margin, padding and mobile only view.

[2021-02-26 05:33] khushishikhu opened #8 "coding: highlight calander"
## Description
Highlight the calendar for next five days from the starting date of the period in same color.

[2021-02-26 05:39] Aaishpra opened #9 "Reasearch: How to integrate Chat Bot feature in the website"
## Description
Add chatbot feature to the website for the convenience of users suggesting about their diets and mood swings during their Periods.

## Solution
Elaborate and clear report about features and methods which can be used for integrating Chatbot into the website

[2021-02-26 05:45] khushishikhu opened #10 "docs: Make CONTRIBUTING.md"
## Description
Add the contributing guidelines in a folder(CONTRIBUTING.md)

## Status
Approval of two mentors.

[2021-02-28 05:26] khushishikhu opened #11 "docs: Add the Demo video link in README.md"
## Description
Add the demo video link in the README.md of the project. which is uploaded already in the google drive of girlscript.

[2021-02-28 06:39] khushishikhu opened #12 "feat: Create a login Page"
## Description
Create a Login Page for the app in a separate folder.

## Reference
For design please visit [here](https://codepen.io/) or you can also present your idea (discuss with the Mentor)

[2021-02-28 06:46] khushishikhu opened #13 "Coding: Create a "Tips" page"
## Description
Create a page name as "Tips" which needs to be hovered from navbar and design it a bit according to your perspective.

## To merge
Approval by two mentor.

[2021-02-28 06:51] khushishikhu opened #14 "Decide the content for "Tips""
## Description
Add the section about Health remedies and write in it what could be the possible things which should be followed.
Also a section for Medicine to be taken during the period for pain.

## To get merged
Discussed with at least one mentor

[2021-02-28 17:25] 96RadhikaJadhav commented on #10
@khushishikhu Can I work on it?

[2021-02-28 17:25] 96RadhikaJadhav commented on #4
@khushishikhu  Can I work on it?

[2021-02-28 17:26] 96RadhikaJadhav commented on #2
@khushishikhu  Can I work on it?

[2021-02-28 17:29] khushishikhu commented on #2
@96RadhikaJadhav sure. Assigning this to you☺️

[2021-02-28 17:37] kunal299 commented on #12
@khushishikhu Could you please assign this issue to me as a part of gssoc'21?

[2021-02-28 17:38] kunal299 commented on #5
@khushishikhu Could you plz assign this issue to me as a part of Gssoc'21?

[2021-02-28 17:39] kunal299 commented on #6
@khushishikhu I would love to contribute to this issue. Could you plz assign this to me as a part of gssoc'21?

[2021-02-28 17:41] kunal299 commented on #13
@khushishikhu Could you plz assign this issue to me as a part of Gssoc'21?

[2021-02-28 18:01] khushishikhu commented on #13
@kunal299 sure. Assigning this to you

[2021-02-28 18:05] khushishikhu commented on #2
@96RadhikaJadhav sure. Assigning this to you☺️

[2021-02-28 18:14] kunal299 commented on #13
@khushishikhu But my coding period starts from 8th march.

[2021-02-28 18:15] kunal299 commented on #13
@khushishikhu will it be ok if I work on this issue when the coding period begins.

[2021-02-28 18:18] khushishikhu commented on #13
Sure then you can start from when the coding period begins

[2021-02-28 18:25] khushishikhu commented on #13
@kunal299 when the project mentors will get finalized then I can assign you to any particular issu. Till then research about the project's issues😊

[2021-03-01 00:57] luckykumarirai commented on #4
@khushishikhu  I would like to contribute.

[2021-03-01 05:27] khushishikhu commented on #4
@luckykumarirai Actually the contribution period has not been started yet. So I can't assign you right now. Please do comment on on 8th march again and @96RadhikaJadhav  you can be assign to only one issue at a time to maintain the decorum

[2021-03-01 05:55] luckykumarirai commented on #4
@khushishikhu But in timeline it mentioned  1 March.

[2021-03-01 06:07] khushishikhu commented on #4
@luckykumarirai https://docs.google.com/document/d/1pqhhsE1E1-bqn_etHTKhK0fWKR9v1hL_lBAsjTvTbN0/edit?usp=drivesdk

Check out on this link the timeline has been updated. Hope it helps✌️

[2021-03-01 06:17] luckykumarirai commented on #4
Thanks

[2021-03-01 16:48] 96RadhikaJadhav commented on #4
@khushishikhu  I have created PR #15  yesterday. Could you please check it? So if it's fine I can take up this issue.

[2021-03-02 09:44] vismitap commented on #10
May I work on this as a part of GSSoC'21 ?

[2021-03-02 18:55] khushishikhu commented on #10
@vismitap actually the coding period has not been started yet. From 8th March onwards the mentors will happily assign you to the issue.

[2021-03-02 18:59] khushishikhu commented on #4
@96RadhikaJadhav I can't give you the permission to work on any issue right now. When the coding period will start I will assign you to any issue you ask for at a time. Hope it helps 😊

[2021-03-04 16:57] Shwetang550 commented on #11
I can do this... Please assign this to me as a GSSoC'21 participant :)

[2021-03-04 17:01] Shwetang550 commented on #3
I can make a much suitable "Tap here" button for this site... Please assign this to me :)

[2021-03-05 10:02] parulsurana commented on #9
@Aaishpra, Please assign this task to me, I am selected as a Mentee at GirlScript Summer of Code and this project really excites me so I would love to contribute to such an amazing repo. :)

[2021-03-05 11:58] Aaishpra commented on #9
Thanks for the appreciation, 🤗🤗 @parulsurana since the coding period hasn't started yet, I can't assign this issue to you right now, but do comment on 8th i will happily assign you here.

[2021-03-07 06:42] khushishikhu opened #16 "coding: Add Third-Party Authentication"
## Description
Add the third party authentication to login in the app through Google account/ Facebook account. And add the sensitive information in environment variables ( .env file)

[2021-03-07 13:21] nishihere19 commented on #14
I would like to work on this under gssoc'21.

[2021-03-07 13:23] nishihere19 commented on #16
I would like to work on this under gssoc'21. I have worked with APIs before as well and I hope I will be able to complete this if assigned.

[2021-03-08 01:27] mdPial commented on #1
I would like to work on that for GSSOC'21.

[2021-03-08 01:30] mdPial commented on #7
I would like to work on that issue under GSSOC!

[2021-03-08 02:46] khushishikhu commented on #1
@mdPial assigning to you. Happy coding!!

[2021-03-08 02:49] khushishikhu commented on #16
@nishihere19 assigning it to you. Happy coding!!

[2021-03-08 02:51] khushishikhu commented on #14
@nishihere19 I can assign you to only one issue at a time. When you are done with your previous issue do comment again. I will happily assign you ☺️

[2021-03-08 02:52] khushishikhu commented on #12
@kunal299 assigning it to you. Happy Coding!!

[2021-03-08 02:53] khushishikhu commented on #2
@96RadhikaJadhav now you can work on this issue😉

[2021-03-08 02:54] khushishikhu commented on #3
@Shwetang550 Sure, assigning it to you. Happy Coding!!

[2021-03-08 02:55] khushishikhu commented on #4
@luckykumarirai assigning this issue to you. Now you can work on this issue

[2021-03-08 02:57] khushishikhu commented on #11
@Shwetang550 you can only get assigned to one issue at a time. This is to maintain the decorum. Do ask again when you are done with the previous issue

[2021-03-08 02:59] khushishikhu commented on #10
@vismitap assigning this to you. Happy Coding!!

[2021-03-08 04:12] parulsurana commented on #9
Okay Thanku :)

[2021-03-08 04:16] parulsurana commented on #9
Hey Thank You for replying, now can i start working on it? :)

[2021-03-08 04:17] parulsurana commented on #9
Hey @Aaishpra Thank You for replying, now can i start working on it? :)

[2021-03-08 05:01] nishihere19 commented on #16
Thank you

[2021-03-08 05:01] nishihere19 commented on #14
Sure.

[2021-03-08 06:35] Devenkapoor7303 commented on #13
Can I work on this issue as a part of GSSOC 2021

[2021-03-08 06:48] khushishikhu commented on #13
@Devenkapoor7303 assigning it to you. Happy Coding!!

[2021-03-08 06:50] kunal299 commented on #13
@khushishikhu Hey, I am working on this issue already.

[2021-03-08 07:00] khushishikhu commented on #13
@kunal299 I have already assigned you in one issue. And to maintain the decorum, one can only be assigned to one issue at a time. So the others also get the chance to contribute. If @Devenkapoor7303 is unable to give any update within 3 days then I can assign to you. Hope you got it. Till then Happy Coding ☺️

[2021-03-08 07:04] Devenkapoor7303 commented on #13
@khushishikhu Yeah I will start working on this issue from today onwards

[2021-03-08 09:46] SandeepKrSuman commented on #11
Hey @khushishikhu  Can I work on this under GSSoC'21 ?

[2021-03-08 10:44] SandeepKrSuman commented on #11
Hey @khushishikhu can you please assign this to me?

[2021-03-08 14:10] bhavyashukla16 commented on #6
Can u assign this issue to me?

[2021-03-08 14:38] khushishikhu commented on #6
@bhavyashukla16 assigning this to you. Happy Coding 😊

[2021-03-08 15:12] 96RadhikaJadhav commented on #2
@khushishikhu  I have created a PR #15 for this. Could you please check and let me know if any other changes required.

[2021-03-08 15:20] Nidhikamewar15 commented on #14
I would like to work on this under GSSoC'21.

[2021-03-08 15:21] Riya764 commented on #14
I would like to work on this under gssoc'21.

[2021-03-08 15:23] Riya764 commented on #14
I would like to work on this under GSSoC'21.

[2021-03-08 15:27] A-HK commented on #5
Hey @khushishikhu , if it hasn't been assigned yet, can you please assign this issue to me under the GSSoc'21 program?
I have previous experience with designing on Figma.

[2021-03-08 15:51] khushishikhu commented on #14
@Nidhikamewar15  Assigning this to you are the next in the line who have asked. Make sure to give us the update within 3 days as then I have to assign someone else who is in the queue. Happy coding

[2021-03-08 15:52] khushishikhu commented on #5
@A-HK Sure, assigning this to you. Happy coding!!

[2021-03-08 15:54] khushishikhu commented on #11
@SandeepKrSuman Sure, Assigning this to you. Happy Coding!!

[2021-03-08 16:00] SandeepKrSuman commented on #11
Thank you :)

[2021-03-08 16:11] sayna3311 commented on #8
I would love to contribute, please assign this to me :)

[2021-03-08 16:13] sayna3311 commented on #7
I would love to work on it, please assign this to me :)

[2021-03-08 16:21] khushishikhu commented on #8
@sayna3311 assigning this to you. Happy Coding!!

[2021-03-08 16:53] Nidhikamewar15 commented on #14
Thank you for assigning the issue to me. Can you please clarify what exactly I am supposed to do?
Like I only have to provide the content regarding the same or I have to add a separate HTML page to the website having the tips?

[2021-03-08 17:17] nandini7637 commented on #7
Hello I would like to contribute to it being a part of GSSOC.

[2021-03-08 17:22] khushishikhu commented on #14
@Nidhikamewar15 currently just give us the content which needs to be written on the website. You don't need to create any HTML page or folder like that. Because this content will be added in the Tips Page of the App when that page will be ready.

[2021-03-08 17:23] khushishikhu commented on #7
@nandini7637 assigning this to you. Happy Coding!!

[2021-03-08 18:08] Devenkapoor7303 commented on #13
There is one Doubt when I was creating the tips page I noticed that the background image is disturbing the responsiveness of website so do you want to stay it as it is??

![Capture](https://user-images.githubusercontent.com/73438023/110362465-28e96980-7ff6-11eb-98ac-1e9ed57485a5.PNG)

[2021-03-08 18:18] Ruchip16 commented on #9
Can I work on this issue?

[2021-03-08 19:38] Artistic18 commented on #3
@Shwetang550 are you still working on this issue?

[2021-03-08 19:45] codebuzzer01 commented on #8
Hey! Do consider me for this issue.

[2021-03-08 19:47] codebuzzer01 commented on #5
Hey if it hasn't been worked on yet please assign it to me. @khushishikhu

[2021-03-08 19:54] khushishikhu commented on #13
@Devenkapoor7303 stay as it is, we will work on this issue too later on

[2021-03-08 19:55] Devenkapoor7303 commented on #13
Okay @khushishikhu

[2021-03-08 20:07] khushishikhu opened #19 "coding: Add more ratings"
## Description
Add some more relevant Ratings with this.
![image](https://user-images.githubusercontent.com/65439761/110375348-de103600-8077-11eb-9033-e342fb93b854.png)

[2021-03-08 20:08] khushishikhu opened #20 "feat: Change rating icons"
## Description
Change the icons of the ratings
![image](https://user-images.githubusercontent.com/65439761/110375597-30515700-8078-11eb-8010-b7e719682f10.png)

[2021-03-08 20:12] khushishikhu opened #21 "coding: create a Quiz"
## Description
Create a Quiz by making any new page with the name "Analysis" of five questions on what do Girls feel during Periods. The Questions can have like How is pain or how is blood flow , like that.

[2021-03-08 20:13] codebuzzer01 commented on #19
Hey! I would like to work on it. @khushishikhu

[2021-03-08 20:14] khushishikhu commented on #19
@codebuzzer01 assigning this to you. Happy Coding!!

[2021-03-08 20:18] anshika208 commented on #21
Hey! I will like to work on this @khushishikhu !

[2021-03-08 20:18] A-HK commented on #5
Hi @khushishikhu , this is the link of the draft of the Figma design I worked on:
https://www.figma.com/file/QKO2yLpr19h7XmO5EdBl83/PERIODO-ABOUT-US-PAGE?node-id=0%3A1
Let me know what you think ! ( All suggestions / criticisms are welcome :) )

[2021-03-08 20:30] shairanshrawat commented on #20
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021
Thank you.

[2021-03-08 20:33] cicada3006 commented on #20
Hey! I would like to work on this project(GSSoC 21)

[2021-03-08 20:40] khushishikhu commented on #21
@anshika208 assigning this to you. Happy Coding!!

[2021-03-08 20:42] khushishikhu commented on #20
@shairanshrawat assigning this to you. Happy Coding

[2021-03-08 21:14] khushishikhu opened #22 "Coding: Prescriptions"
## Description
According to the marks in quiz. Give the user the links to go for the page where all the remedies and Prescription are listed for the time Being as it will be added in the Tips Page

[2021-03-08 21:15] khushishikhu commented on #9
@parulsurana  assigning this to you. Happy Coding!!

[2021-03-08 21:26] khushishikhu commented on #5
@A-HK Thank you so much for your efforts. This design looks amazing!!
Let's take a view from @Aaishpra also

[2021-03-09 02:48] mdPial commented on #22
I would like to work on that issue.

[2021-03-09 03:21] sahildotexe commented on #20
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 03:22] sahildotexe commented on #12
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 03:22] sahildotexe commented on #3
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 05:24] micksharma commented on #22
I want to work on this issue as a GSSOC participant 2021.

[2021-03-09 05:46] shairanshrawat commented on #20
thank you for assigning me
@khushishikhu I have some doubts regarding the work where can I communicate to you here or on discord

[2021-03-09 06:39] Riya764 commented on #22
Can I work on this issue as a part of GSSOC 2021?

[2021-03-09 06:40] khushishikhu opened #24 "Design: Create a Logo"
## Description
Create the Logo for the Project that needs to be put in the corner of the navbar

[2021-03-09 06:41] khushishikhu opened #25 "Doc: Modify wiki"
## Description
Add the Demo video link in the wiki of the project

[2021-03-09 06:44] khushishikhu commented on #22
@micksharma assigning this to you. Happy coding!!

[2021-03-09 06:49] Nidhikamewar15 commented on #14
How I am supposed to submit the content, it's ready?

[2021-03-09 06:50] Nidhikamewar15 commented on #14
How can I submit the content file?

[2021-03-09 06:56] khushishikhu commented on #14
@Nidhikamewar15 Make a PR and write in it what all the content needs to be added.

[2021-03-09 07:01] subhangi2731 commented on #24
can you assign this to me?

[2021-03-09 07:02] subhangi2731 commented on #25
can you assign this to me?

[2021-03-09 07:03] khushishikhu opened #26 "Design: Modify the Calender"
## Description
Design the Calendar of the Calendar page in the website.

[2021-03-09 07:08] khushishikhu commented on #25
@subhangi2731 assigning this to you. Happy Coding!!

[2021-03-09 07:10] ritesh1731 commented on #24
I would like to contribute to this under GSSOC21. Can you assign me?

[2021-03-09 07:11] khushishikhu commented on #22
@Riya764 as there is already someone before you who has asked so I have assigned the to him. You can look for some other issues also in the project. I hope you got my point. For us every Participant is valuable.

[2021-03-09 07:12] khushishikhu commented on #24
@ritesh1731 Assigning this to you. Happy Coding!!

[2021-03-09 07:22] khushishikhu opened #27 "coding: Link to Calendar in Navbar"
## Description
Add the Link to the Calendar page as well just like the "Home" is written over there as shown in the given picture and directs to that page
![Capture](https://user-images.githubusercontent.com/65439761/110433227-2d854f00-80d6-11eb-97d2-5864072d4108.PNG)

[2021-03-09 07:26] khushishikhu opened #28 "coding: Link to Flow in Navbar"
## Description
Add the Link to the Flow page when a user click on the "Wanna Rate Yourself" (should be in Navbar) just like the "Home" is written over there as shown in the given picture and directs to that page
![Capture](https://user-images.githubusercontent.com/65439761/110433729-d92e9f00-80d6-11eb-9275-8fa214f8a602.PNG)

[2021-03-09 07:29] khushishikhu opened #29 "coding: Create Navbar"
## Description
Create the Navbar on the Flow page also just like the Navbar on the other Pages of the website

[2021-03-09 07:38] WaderManasi commented on #27
Hi @khushishikhu ,
I wish to work on the issue as a part of gssoc'21

[2021-03-09 07:43] khushishikhu commented on #27
@WaderManasi assigning this to you. Happy Coding!!

[2021-03-09 07:44] WaderManasi opened #30 "Feat: Creating a decent footer for website."
Hi @khushishikhu ,
A decent footer can  be added to the website containing links to the github source code, and organization name.
As a part of gssoc'21 I would like to work on it.

[2021-03-09 07:46] WaderManasi commented on #27
Thanks for assigning @khushishikhu !

[2021-03-09 07:52] Devenkapoor7303 commented on #13
Hello @khushishikhu  I have created the tips page can u review it so that i can make a PR .

I have added the tips in the form of card and u can check it with some CSS

![Capture](https://user-images.githubusercontent.com/73438023/110436505-296f1800-8069-11eb-8839-4454cd31fb4d.PNG)

And then u can add those Tips after deciding what u want to add.

[2021-03-09 07:55] khushishikhu commented on #13
@Devenkapoor7303 It looks good to me😍!! Please make a PR for it. Thank you for your efforts!!

[2021-03-09 07:58] khushishikhu commented on #14
@Nidhikamewar15 please refer to the PR #13 You have to decide the content for those cards .

[2021-03-09 08:48] Shwetang550 commented on #3
@Artistic18 yess... Am still working on it :)

[2021-03-09 08:54] mdPial commented on #22
@khushishikhu Do I have to wait for my PR merged to work on another issue? My PR changes already approved.

[2021-03-09 09:01] Quickbeasts51429 commented on #30
hi can I take take up the task and start working on it? I'll be looking towards good details too.

[2021-03-09 09:11] Quickbeasts51429 commented on #29
@khushishikhu  ,This would be my first contribution in GSSOC'21 so can I be assigned the issue to work upon?
i would be delivering efficient work in minimal time.

[2021-03-09 09:14] Quickbeasts51429 commented on #28
Can I be assigned the issue of making the nav bar  as well as adding links to it?

[2021-03-09 09:21] khushishikhu commented on #28
@Quickbeasts51429 sure, assigning this to you. Happy Coding!!

[2021-03-09 09:22] Quickbeasts51429 commented on #28
thanks!!

[2021-03-09 09:23] khushishikhu commented on #29
@mdPial as that PR is approved and we will merge it shortly. So yes now you can work on this issue.

[2021-03-09 09:31] padmajabhol opened #33 "Improve the buttons."
Hi, I want to improve and add animation to the buttons.

[2021-03-09 09:37] Esha-Sherring commented on #26
I would like to work on this issue as a GSSoC'21 participant

[2021-03-09 09:38] Esha-Sherring commented on #21
I would also like to work on this issue

[2021-03-09 09:39] Esha-Sherring commented on #12
I would like to work on this issue

[2021-03-09 09:51] Sakshi0401 commented on #29
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 11:49] Riya764 commented on #30
I would like to work on this issue as a GSSoC'21 participant

[2021-03-09 11:51] Riya764 commented on #26
I would like to work on this issue as a GSSoC'21 participant

[2021-03-09 11:54] KaranKaira commented on #26
I would like to work on this as a GSSoC'21 participant.

[2021-03-09 12:02] vismitap commented on #10
@khushishikhu Do you have any reference CONTRIBUTING.md file you would like me to duplicate?

[2021-03-09 12:50] Aaishpra commented on #33
Assigned you @padmajabhol thanks for this issue.

[2021-03-09 13:52] encodeArnab opened #34 "Design Improvements"
I want to improve the UI for this website,
it is very difficult for a person to navigate across different sections.
I will be using **Figma** for this task and will work on the codes for the same if assigned.
When the design is accepted I will be using HTML, CSS and JS to build the website from scratch.
It would be a great learning experience for me by working on this open source projects.
Thank Y

[2021-03-09 13:56] khushishikhu commented on #24
@ritesh1731 Thank you so much. I Liked all of them. But we can put only one ,so Last one is the most suitable.

[2021-03-09 14:00] khushishikhu commented on #10
@vismitap Not to duplicate. but You can take reference from the README.md of the project. and then make the PR

[2021-03-09 17:02] priyaverma20 commented on #21
I would to work on this

[2021-03-09 18:02] drishtipeshwani commented on #12
Hey Khushi !! Could you assign this to me I would like to work on this issue

[2021-03-09 18:50] Aaishpra commented on #5
@A-HK loved both the content and design 🚀, it's beautiful.
If you can include more colours(not just pink) like something similar to the homepage, it would be great.

[2021-03-09 19:53] mizanxali commented on #25
Hey! I would like to work on this issue. Let me know if I can do so.

[2021-03-09 19:59] khushishikhu commented on #24
Let's take a review from @Aaishpra too.

[2021-03-09 20:22] #1 closed

[2021-03-09 21:08] shalmoly79 opened #39 "Coding : Creating an image slider for the landing page."
Hello, I am a GSSOC'21 participant. I want to create a simple image carousel. It should contain arrows on each side to advance the image forward or backward and I will add some other functionalities like the images should automatically move forward after a certain time. This will make the website more visually appealing. If you find this issue helpful please assign me for this contribution. Thanki

[2021-03-10 03:12] drishtipeshwani opened #40 "Animated Heading"
Hello ! I am a Drishti, I am a GSSOC Participant I would like to make the heading "Hi Girls, wanna track your periods!!" more attractive by enhancing its CSS and implement text typing animation effect.
Do assign this issue to me.
Thanks in Advance.

[2021-03-10 06:34] shalmoly79 commented on #39
Thank you so much. Working on it.

[2021-03-10 07:19] mdPial commented on #29
@khushishikhu I am little confused. Did you mean to add the Navbar component or to create a new one?. :sweat_smile:

[2021-03-10 07:45] encodeArnab commented on #34
I am a participant in GSSOC'21. If the idea is good for the project, please assign it to me; if it isn't, please tell me what needs to be changed and I can work on it.
Should I close this issue if it isn't necessary?
Thank you very much.

[2021-03-10 08:16] sayna3311 commented on #8
![image](https://user-images.githubusercontent.com/67572440/110597286-5aa13280-81a6-11eb-9f2c-6230d12ca6aa.png)
First, the user selects the first date.
![image](https://user-images.githubusercontent.com/67572440/110597311-67be2180-81a6-11eb-9ffe-a75b83b818d1.png)
Then the expected end date.
![image](https://user-images.githubusercontent.com/67572440/110597358-76a4d400-81a6-11eb-8e5f-71d71336851e.p

[2021-03-10 08:24] khushishikhu commented on #8
@sayna3311 Please Make a PR for it as well Because then only we can merge your code in our code base.

[2021-03-10 08:29] sayna3311 commented on #8
Yeah, sure! :)

[2021-03-10 08:35] khushishikhu commented on #34
@encodeArnab The website is already built with the framework of Nextjs. So we don't think that it is currently required for the website. If you have some other ideas for the website feel free to open the issue for it. We appreciate your time and efforts.

[2021-03-10 08:37] #11 closed

[2021-03-10 09:54] prerna2712 commented on #12
I would like to work on this issue, can we divide the work accordingly?

[2021-03-10 09:55] prerna2712 commented on #21
I would like to work on this issue under GSSOC '21.

[2021-03-10 11:49] sayna3311 opened #44 "Styling the Rating Labels"
The rating labels can be styled more and the alignment can also be corrected. If accepted, I would like to work on this issue.

[2021-03-10 12:24] Ishikakhurana opened #45 "README.md: name of the application is wrong in About Section"
hey @khushishikhu there is a spelling error in About Section in 3rd line. Also About Section mentions first period as facing some problem but isn't period something natural. Maybe it can be replaced from facing period to experiencing first periods?

[2021-03-10 13:24] khushishikhu commented on #44
@sayna3311 Thank you for opening this issue. Assigning this to you

[2021-03-10 13:26] khushishikhu commented on #12
Yes @prerna2712 Assigning this to you also as this is a issue needs more work

[2021-03-10 13:30] khushishikhu commented on #40
@drishtipeshwani  Assigning this to you. Thank You for opening this issue.

[2021-03-10 13:34] #2 closed

[2021-03-10 14:32] Aaishpra commented on #45
@Ishikakhurana you can work on the content of the About section of Readme (be it changing the content or correcting spelling mistakes) just send a PR and we can review it.

[2021-03-10 18:49] JASHANJOT7KAUR opened #49 "coding: Create a page for adding notes"
I would like to redesign the homepage to be more user-friendly and interactive.
I also would like to add "add note" feature for some important notes the user wants to make.

[2021-03-10 18:51] drishtipeshwani commented on #40
Thankyou Started working on it !

[2021-03-10 19:30] cicada3006 opened #50 "Adding a login page"
I would like to add a login page to periodo tracker. Please assign me this work @khushishikhu @Aaishpra

[2021-03-11 03:55] encodeArnab commented on #34
Okay Thank You for your suggestion I am closing this issue then.

[2021-03-11 03:55] #34 closed

[2021-03-11 05:25] khushishikhu commented on #24
@ritesh1731  Here is a suggestion for the logo. If you can add the girl (which is in the third logo) in the 2nd design of logo. It would look better I think. Please let me know if you can do that and show me after you are done with the changes .

[2021-03-11 05:31] #29 closed

[2021-03-11 05:42] #13 closed

[2021-03-11 06:53] aashishah commented on #49
I'd like to work on this issue as well, I have experience with making smooth flowing responsive websites. Please let me know if it would be  possible for me to work on this!

[2021-03-11 07:09] ritesh1731 commented on #24
Yes, I can try it.

[2021-03-11 07:41] khareyash05 opened #52 "add contributing.md"
Hi! I would like to add contributing.md to the repo which states on how to clone and fork the repo,how to add ,create and push a repo,squash commits,rebase your feature branch ,how to update forked repo as well as local repo to the changes made in upstream.
I would like to work on this under GSSOC'21.

[2021-03-11 08:53] shairanshrawat commented on #20
hey @khushishikhu
the Github link in the readme file is still private. Lemme know how can I communicate to you so that I can start working on the issues

[2021-03-11 08:59] Priyanka7011 commented on #50
hii I am a GSSOC 2021 participant.
I would also love to work on this issue.
Please assign me this .

Thank You

[2021-03-11 09:01] padmajabhol opened #54 "Improve the rating page."
![Screenshot (17)](https://user-images.githubusercontent.com/75530516/110762014-5e9c8580-8276-11eb-8ded-f77d0da7b0ff.png)
I d love to improve this page, please assign it to me.

[2021-03-11 09:02] Chaitalishetty opened #55 "Make the page responsive"
Hi I am a GSSOC 21participant . I see the page is not responsive . I would like to work on this issue. Please assign it to me

[2021-03-11 09:04] sayna3311 commented on #44
It was like this earlier.
![image](https://user-images.githubusercontent.com/67572440/110761949-504e6980-8276-11eb-873f-34557f683df8.png)

And I have changed it like this.
![image](https://user-images.githubusercontent.com/67572440/110762470-d2d72900-8276-11eb-80af-4eab74d37841.png)

[2021-03-11 09:06] sayna3311 commented on #44
Shall I send the PR?

[2021-03-11 09:16] A-HK commented on #5
@khushishikhu @Aaishpra made a few changes with colours taken from the website homepage.
https://www.figma.com/file/QKO2yLpr19h7XmO5EdBl83/PERIODO-ABOUT-US-PAGE?node-id=0%3A1
If everything is fine, let me know if I should make a PR.

[2021-03-11 09:20] Aaishpra commented on #5
@A-HK the design looks perfect now🚀send a PR after implementation of this page and we will review it once we get some time.
Again thanks for the design and content it is better than what i expected🤗

[2021-03-11 09:28] ritesh1731 commented on #24
Here are some of the changes in logo. Please review it
![Screenshot (335)](https://user-images.githubusercontent.com/59248269/110765447-3020a980-827a-11eb-9ed3-c436f4137df9.png)
![Screenshot (336)](https://user-images.githubusercontent.com/59248269/110765451-31ea6d00-827a-11eb-8f75-078bea6a87fa.png)

...

[2021-03-11 09:49] Aaishpra commented on #24
Loved the 2nd one, go with it

[2021-03-11 10:10] aashi2912 commented on #6
I would like to work on this issue.

[2021-03-11 10:16] aashi2912 opened #57 "Add About and contact us page in navbar."
The website is incomplete without this two basic feature. I am **GSSoc'21** participant. I would like to work on them. Could you please assign this to me?

[2021-03-11 10:28] aashi2912 opened #58 "ADD section about period health and and Products in NAVBAR."
we can also add this to section/feature to enhance our website and it will add value to it. In this two section we can do lot of things and add content. ex. Blogs and articles in Period health section and in products section we can add period related products such as tempons, pads, menstrual cup and knowledge about them. Many more.

GSSOC'21 participant . allow me to work on this.

[2021-03-11 10:29] aashi2912 opened #59 "ADD footer."
**GSSOC'21** Add a nice  footer and info about site. Assign me:)

[2021-03-11 10:30] i-aayush711 commented on #10
Can there be multiple assignees? I would like to work on it

[2021-03-11 10:42] #57 closed

[2021-03-11 10:42] prerna2712 commented on #12
Is there a predefined design, or we can make anything that matches the theme?

[2021-03-11 10:42] #58 closed

[2021-03-11 10:42] #59 closed

[2021-03-11 13:39] WaderManasi commented on #30
Hi, @khushishikhu ,@Aaishpra
This is prototype of footer for the website. Just approve once so that I will write code for the same and let me know if you have more suggestions.
Thank you!
![footer](https://user-images.githubusercontent.com/52437677/110795618-0f1d8000-829d-11eb-9d98-c692960dfa35.png)

[2021-03-11 13:39] khushishikhu commented on #12
@prerna2712 you can make anything it's up to your choice. Then we will look into it

[2021-03-11 13:42] khushishikhu commented on #20
@shairanshrawat you can ask here for any queries. We will guide you in every possible way.

[2021-03-11 13:49] khushishikhu commented on #30
@WaderManasi  I liked it a lot the way you design it . Please go for making the PR and show us the screenshot of whole page with the footer .

[2021-03-11 13:56] Aaishpra commented on #30
Good to go from my side too 💯

[2021-03-11 13:59] khushishikhu commented on #55
@Chaitalishetty The issue is already there. If you want to work on that . I am assigning you for that issue

[2021-03-11 14:03] #3 closed

[2021-03-11 14:20] #24 closed

[2021-03-11 14:44] shairanshrawat commented on #20
@khushishikhu I wanna ask that you want the design to be made in figma or in css (I have to code and change it )

[2021-03-11 14:50] khushishikhu commented on #20
@shairanshrawat if you are comfortable then make a design on figma or you can use something else which ever you like.

[2021-03-11 15:10] Chaitalishetty commented on #7
Hi I would like to work on this issue under Gssoc

[2021-03-11 15:11] #55 closed

[2021-03-11 15:51] A-HK commented on #5
Awesome!
Sorry for the incessant questions, but should I implement this using HTML+ CSS or Next.js?

[2021-03-11 16:04] Aaishpra commented on #5
Since the project is using nextjs it will be better to implement the page using Nextjs. And if you face any problems with the framework ping any of us we will help you.

[2021-03-11 16:36] khushishikhu commented on #7
@Chaitalishetty assigning this to you. Happy Coding!!

[2021-03-11 17:13] kanchi12P opened #63 "Separate files"
I think it would be better to make separate files for the topic "Local setup instructions" and" Guidelines for contribution" instead of having them in the Readme file.
I am gssoc'21 participant.

Please assign this issue to me, I will make the required changes.

[2021-03-11 18:06] gaulghost opened #64 "Code: Handling Accesibility"
I would like to work on the website for improving accessibility for color blinds, old age people & autoreaders or robots. I would like to participate in this issue as gssoc 2021 participant.

[2021-03-11 18:13] WaderManasi commented on #30
Since, background of website is pink, I have changed shade of pink to darker one ,with alignment changes
![ss](https://user-images.githubusercontent.com/52437677/110834289-620a2e00-82c3-11eb-9ed7-4c36f8e2b80e.PNG)

[2021-03-11 18:16] WaderManasi commented on #30
I have created the PR.

[2021-03-12 05:14] 0Faiz0 commented on #30
I Would like to work on this issue as a GSSOC'21 participant.

[2021-03-12 05:30] khushishikhu commented on #64
@gaulghost I like this concept but how would you that. Can you please give us any prototype for implementing this.

[2021-03-12 05:31] khushishikhu commented on #50
@cicada3006 There is already an issue opened. So closing this issue.

[2021-03-12 05:31] #50 closed

[2021-03-12 05:53] #19 closed

[2021-03-12 06:00] flyingsonu122 commented on #7
@khushishikhu I can make it responsive for all screen sizes

[2021-03-12 06:01] #33 closed

[2021-03-12 06:03] khushishikhu commented on #7
@flyingsonu122 Yes You can

[2021-03-12 06:05] flyingsonu122 commented on #7
@khushishikhu Assign this to me, so I can go ahead

[2021-03-12 06:09] khushishikhu commented on #49
@JASHANJOT7KAUR  Not on the homepage. If you want to add this feature, you can make another page on the Website for this feature. If you can do that. I am assigning this to you.

[2021-03-12 06:13] khushishikhu opened #66 "coding: Display a dailog box"
## Is your feature request related to a problem? Please describe.
When a user click on next button on the Calendar page. Display a Dailog box for confirmation. If the want to move on the next page or not

[2021-03-12 06:17] khushishikhu opened #67 "coding: Design a Profile Page."
## Is your feature request related to a problem? Please describe.
Create a Profile Page for the website which includes Name, Username, Avatar, About me(text box)

## Describe the solution you'd like
Design and show its screenshot

## Additional context
Approval of 2 mentors required

[2021-03-12 09:42] gaulghost commented on #64
I will implement tab order for the screen readers for easy follow through of the text, marking of links so that automatic / robotic web crawlers don't / do crawl the given link, Providing proper meta tags for better search as such for better google indexing, providing aria tags. Lastly providing alt text to images or links for better understanding of users and crawlers. Colour changes for better c

[2021-03-12 10:11] ritesh1731 commented on #67
I would like to contribute to this issue under GSSOC21. Can you please assign it to me?

[2021-03-12 10:11] SandeepKrSuman commented on #66
Hey @khushishikhu , I want to work on this. Can you please assign this to me.

[2021-03-12 10:16] ankitaugale23 opened #68 "Styling the button "tap here" and giving typing effect to "tagline""
## Is your feature request related to a problem? Please describe.
1. As per the website the button will look good if it will match the color codes of the website
2. Tagline of the website looks great but after giving typing effect it will look more attarctive.

## Describe the solution you'd like

## Additional context

[2021-03-12 10:16] ankitaugale23 commented on #68
I would like to work on this. If I can please assign this to me @khushishikhu @Aaishpra

[2021-03-12 10:19] khushishikhu commented on #66
@SandeepKrSuman assigning this to you. Happy Coding!!

[2021-03-12 10:26] khushishikhu commented on #67
@ritesh1731 assigning this to you

[2021-03-12 10:29] khushishikhu opened #69 "Feat: Implement Dark Mode"
## Description
Implement the Dark Mode feature in the website

## Additional context
Must add the screenshot of how it will look like.

[2021-03-12 10:38] SandeepKrSuman commented on #66
Thankyou.

[2021-03-12 10:59] Nidhikamewar15 commented on #69
@khushishikhu  I would like to work on this. Can you please assign this to me?

[2021-03-12 12:03] Shwetang550 commented on #69
Hey @khushishikhu If @Nidhikamewar15 is not assigned this issue... Please assign it to me... I can make a toggle switch button to switch between dark and light mode :)

[2021-03-12 12:43] khushishikhu commented on #69
@Shwetang550 assigning to you. @Nidhikamewar15 you are currently assigned to an issue. So I Can't assign you right now. When you are done with that please look on other issues in the project where people assigned pr haven't given any updates. Thank you for taking interest. Hope this helps ☺️

[2021-03-12 12:49] #14 closed

[2021-03-12 13:01] Shwetang550 commented on #69
Thank you @khushishikhu 😊

[2021-03-12 13:59] janvi01 commented on #27
I would like to work on this issue.

[2021-03-12 14:02] rohank2502 opened #71 "Tech Stack Update ( LOGO add )"
## 📚 Documentation

I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 14:02] rohank2502 opened #72 "Adding Code of Conduct"
## 📚 Documentation

I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 15:46] vismitap commented on #10
Hey @khushishikhu ! Why is the `CONTRIBUTING.md` inside the `.github` directory? Can it not be in the `root` directory? The `.github` can be used for PR/ Issue templates right? Should I move the `CONTRIBUTING.md` in the `root` directory ?

[2021-03-12 16:13] khushishikhu commented on #10
@vismitap move CONTRIBUTING.md into root directory ( .gitHub) where issue/PR template are there.

[2021-03-12 16:13] khushishikhu commented on #27
@janvi01 assigning this to you. Happy Coding!!

[2021-03-12 16:17] vismitap commented on #10
It is already in `.github`. Should I move it outside and keep it the README.md?
![image](https://user-images.githubusercontent.com/47056243/110967583-8d048880-837c-11eb-8f54-f7f79b1b40a7.png)
This is the current folder structure.

[2021-03-12 16:21] shairanshrawat commented on #20
Hey @khushishikhu  I made the page. Please review and suggest any changes that need to be made [Figma link](https://www.figma.com/file/gCgZ9vu1gnPoajCps9w9Gz/Periodo?node-id=0%3A1)

[2021-03-12 16:22] parulsurana commented on #9
Hey! I am Implementing chatbot using app.chatBot and then I will integrate the created chatbot in the project. My progress you can see in the video which I Have linked.
And soon I will do the PR for the same.

https://user-images.githubusercontent.com/63437071/110968029-0a2ffd80-837d-11eb-9ebf-dc20c153bbe3.mp4

[2021-03-12 16:37] WaderManasi commented on #27
@khushishikhu  Actually I was working on it!

[2021-03-12 16:38] Aaishpra commented on #9
You are on the right track keep updating😉
@parulsurana

[2021-03-12 17:12] padmajabhol opened #75 "Add a navbar."
## Is your feature request related to a problem? Please describe.
The page does not have a navbar.

## Describe the solution you'd like
I could add a navbar.

[2021-03-12 17:34] AasthaNautiyal opened #76 "Contact Gynecologist Option"
The above option will help user to interact with the gynecologist related to menstrual issues and seek immediate guidance.
I can work on its front end . Can you please assign it to me?

[2021-03-12 17:50] khushishikhu commented on #27
@WaderManasi you are already assigned in an issue. That's why I have assigned this to her, as we have to give chance to other participants also to contribute. When you are done with your issue. Then you can ask on any available issue of the project where no one is working or haven't given any updates. I hope you get it. Thank you for showing interest 😊

[2021-03-12 17:59] WaderManasi commented on #27
Okay @khushishikhu ,
No issues ☺️

[2021-03-12 18:10] anshika208 commented on #21
Hey! I m still working on the issue just need some more time....

[2021-03-12 18:16] khushishikhu commented on #21
@anshika208 okay, Take your time and send us PR as soon as possible 😉

[2021-03-12 19:00] AakankshaShah opened #77 "we can add a feature that keeps track of daily heath- temperature,headache,moods,weight etc."
## Is your feature request related to a problem? Please describe.
It's an additional feature.

[2021-03-12 19:02] AakankshaShah opened #78 "We can also live live locations of nearest restrooms,washrooms and hospitals in case of any emergency."
## Describe the solution you'd like
I want to provide an additional feature of a map where a user can find washrooms and hospitals nearer to her live locations

[2021-03-12 19:09] AakankshaShah opened #79 "Period Cycle is variable from person to person.It should be editable."

[2021-03-12 19:35] khushishikhu commented on #75
@padmajabhol Can you please specify which page doesn't have navbar. Because I can see it on every page.

[2021-03-12 19:38] khushishikhu commented on #76
@AasthaNautiyal  I liked this idea for implementing on the Project. Can you please give us a brief description for how you are going to implement this or just make another page for it on the website. Assigning thi to you

[2021-03-12 19:43] khushishikhu commented on #71
@rohank2502 where You are planning to add the tech stack logo. please give us the brief issue description

[2021-03-12 19:45] khushishikhu commented on #78
@AakankshaShah Please follow the issue template style for opening any issue. It is very difficult for mentors to understand the issue you are trying to convey us. we appriciate your efforts towards the project. i hope you get my Point

[2021-03-12 19:52] khushishikhu opened #80 "coding: Create a splash screen"
**Describe the bug**
Create and design a splash screen for the project whenever we open the website.

**Additional context**
Approval of two mentors needed

[2021-03-13 04:20] #8 closed

[2021-03-13 09:11] gaulghost opened #82 "Unresponsive Background Image"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Tablet / Mobile view (<1000px) or vary the width of browser'
2. Image in Background gets overlapped with a same image.

**Expected behavior**
A Single Image is expected to be on display rather than overlapping images.

**Screenshots**
![image](https://user-images.githubusercontent.com/49186033/111025436-1ca44880-840a

[2021-03-13 09:12] gaulghost commented on #82
Can I work on the following Issue under gssoc21

[2021-03-13 10:27] #64 closed

[2021-03-13 10:34] WaderManasi opened #83 "Creating contact us page"
## Describe the solution you'd like
Contact us page will be consisting of styled contact form.
I would like to contribute being part of gssoc'21

[2021-03-13 10:47] #82 closed

[2021-03-13 11:58] mdPial commented on #80
I would like to work on that issue. I have no pending tasks.

[2021-03-13 13:11] AasthaNautiyal commented on #76
@khushishikhu The user would be asked for information like age, weight, date of the latest period cycle ,if they have been detected with lifestyle disorders and to describe the symptoms .
This will then be mailed to the gynecologist with all basic info already available.
Through this the gynecologist can be contacted. I can implement it by working on its front end with html & css.
 Hope this appro

[2021-03-13 13:21] khushishikhu commented on #76
@AasthaNautiyal I got your concept it's really awesome. But we use Nextjs here and material UI. So make the page by keeping those things in mind you can work on the issue

[2021-03-13 13:26] khushishikhu commented on #80
@mdPial assigning this to you

[2021-03-13 16:32] nishihere19 commented on #79
Can I work on this issue?

[2021-03-13 16:32] nishihere19 commented on #79
Please assign it to me, I will read and properly understand the code and make changes accordingly.

[2021-03-13 18:47] #79 closed

[2021-03-13 19:03] kanchi12P opened #86 "spelling error in readme file"
**Describe the bug**
spelling error in readme.md file
in the documentation section

instead of "contributing" it's written "contrbuting"

**Screenshots**

![Screenshot (8574)](https://user-images.githubusercontent.com/78892305/111041024-2e164080-845c-11eb-96f0-569771ade163.png)

**Additional context**
**I am gssoc'21 participant**
** I will make the changes , please assign it to me**

[2021-03-14 05:50] subhangi2731 commented on #49
I also want to work on this. can you please assign me too

[2021-03-14 06:31] WebVishal opened #87 "Coding: Improvment in Navbar with responsive"
Hi @khushishikhu, I think there should be some space between the logo and the navbar items in the header so that it looks good can I work on it as a Participant Gssoc'21?
!please assigned this issue to me.

[2021-03-14 06:35] Lza-etc commented on #54
Hi
I would really like to contribute to this page.
Would you assign me to solve this issue.

[2021-03-14 06:45] khushishikhu commented on #87
@WebVishal ohk you can work on this issue

[2021-03-14 07:43] anshika208 commented on #21
hey! i have made the page and ready to push the changes but i m getting merge conflict

[2021-03-14 09:28] Aaishpra commented on #83
Please try to follow Issue Template from next time.
@WaderManasi

[2021-03-14 09:29] #75 closed

[2021-03-14 09:30] Aaishpra commented on #86
@kanchi12P comment here to get assigned in the issue.

[2021-03-14 09:30] khushishikhu commented on #75
@padmajabhol As all the pages have babbar so closing this issue

[2021-03-14 09:32] Aaishpra commented on #78
@AakankshaShah any updates on this can you tell us how will you implement the map part and all the ui.

[2021-03-14 11:08] khushishikhu commented on #20
@shairanshrawat  we really liked your design for the ratings😍😍.  Just add all those ratings which are currently displayed on the flow page

[2021-03-14 11:15] kanchi12P commented on #86
please assign the issue

[2021-03-14 11:16] kanchi12P commented on #86
Ok please assign the issue

[2021-03-14 12:31] ritesh1731 commented on #67
Sorry for the delay. Actually, I was busy with the college exams. I will start working on this issue from today.

[2021-03-14 12:42] Nidhikamewar15 commented on #67
@khushishikhu    I can work on this issue with @ritesh1731  if he is fine with it and if you approve so?

[2021-03-14 12:46] ritesh1731 commented on #67
@Nidhikamewar15  It is fine by me. We can work together on this issue if @khushishikhu  approves.

[2021-03-14 13:34] khushishikhu commented on #67
@Nidhikamewar15 ohk , assigning this to you too . Happy Coding ✌️

[2021-03-14 16:24] rupal11 commented on #68
I can style the "tap here" button using bootstrap classes. [https://rupal11.github.io/diceRoll/](url)
 is the URL of my website in which I have designed a similar kind of button. Please Assign this to me.

[2021-03-14 17:49] Aaishpra commented on #68
@ankitaugale23 it's a duplicate issue we already have a new button and a pr for typing effect  of text.

[2021-03-14 17:52] Aaishpra commented on #72
@rohank2502 you can work on creating code of conduct file cuz we already have a pr for contributing.md.
Ps: Change the Issue title and description if you plan on working on code of conduct.

[2021-03-14 18:05] NeelamAryaa opened #89 "Styling : fix cards container in tips page"
Explanation :
 fix margin bottom and border radius of card container in tips page.

[2021-03-14 18:09] NeelamAryaa commented on #89
I am gssoc'21 participant. I want to fix this.
Please label this issue and assign it to me .

[2021-03-14 18:36] haarsh01 commented on #87
Hello I am 'a participant of GSSoC'21
I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-14 18:37] haarsh01 commented on #49
Hello I am 'a participant of GSSoC'21
I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-14 19:42] shairanshrawat commented on #20
hey @khushishikhu can you please elaborate I didn't get it

[2021-03-14 19:53] Jimmy5467 commented on #54
I am willing to solve this issue if you permit

[2021-03-15 10:33] rohank2502 commented on #72
What is  exact work in code of conduct !!

[2021-03-15 10:37] rohank2502 commented on #71
Hey Rohan here !!  Sorry for the delay So many issues where assigned I forget to look up the comments of non assigned issue ok so I will like to show you one of the pic of a project where I recently added logo for tech stack !! I think this will give you idea what I am gonna do !!

![Screenshot 2021-03-12 224657](https://user-images.githubusercontent.com/76584243/111140620-8fe3c100-85a8-11eb-8acf-

[2021-03-15 10:41] kanchi12P commented on #86
@Aaishpra shall I make PR

[2021-03-15 10:44] Aaishpra commented on #72
Please create a copy of [this](https://www.contributor-covenant.org/version/1/4/code-of-conduct/) file naming code of conduct.md and add it in the .github folder also change the link of code of conduct.md in readme to the link to this file.
For further details about creating a code_of_conduct.md have a look at this [instance](https://github.com/sampart/open-source-code-of-conduct/blob/master/code_

[2021-03-15 10:50] Aaishpra commented on #86
yes please

[2021-03-15 10:55] kanchi12P commented on #86
@Aaishpra I have made pr please review it

[2021-03-15 11:04] #86 closed

[2021-03-15 11:13] #10 closed

[2021-03-15 11:33] rohank2502 commented on #72
Created  code_of_conduct.md have a look at it !!

[2021-03-15 11:36] Aaishpra opened #92 "Doc: Add different types of badges to readme"
## 📚 Documentation
As a maintainer or a contributor, If I need to know more about the project I can get to know about it through the badges on the readme.

## Your Solution
add different types of badges to readme including one project channel link for discord.

[2021-03-15 11:46] #21 closed

[2021-03-15 11:49] #27 closed

[2021-03-15 11:58] #72 closed

[2021-03-15 12:06] #66 closed

[2021-03-15 12:09] WaderManasi opened #93 "Mentioning Techstack and Open Source badges"
## 📚 Documentation
Techstack used in project can be mentioned in attractive way by using github feature - github badges. Along with it, open source badges also can be added.
Eg:
![badge](https://user-images.githubusercontent.com/52437677/111151097-038bcb00-85b5-11eb-8c4b-8ca947a637f9.PNG)
I would like to contribute for the same.

[2021-03-15 12:23] ankitaugale23 commented on #68
oh okay. Thanks for letting me know.

[2021-03-15 12:23] #68 closed

[2021-03-15 14:34] #92 closed

[2021-03-15 14:35] khushishikhu commented on #93
@WaderManasi Thank you for opening this issue. Assigning this to you✌️

[2021-03-15 14:37] khushishikhu commented on #71
@rohank2502 Thank you for opening this issue. I liked your badges for tech stack. Assigning this to you

[2021-03-15 14:40] khushishikhu commented on #49
@subhangi2731  if you are willing to do this issue? Then I can assign this to you

[2021-03-15 14:51] WaderManasi commented on #93
Thank you assigning @khushishikhu

[2021-03-15 15:01] khushishikhu commented on #89
@NeelamAryaa  You can work on this issue. Thank you for opening this issue

[2021-03-15 15:06] #44 closed

[2021-03-15 15:18] ShambhaviSharma0110 commented on #83
Hey, I'm interested in this project could you please allow me to work on it?

[2021-03-15 15:19] ShambhaviSharma0110 commented on #89
Hey, I'm interested in this project could you please allow me to work on it?

[2021-03-15 15:25] khushishikhu commented on #20
![Capture](https://user-images.githubusercontent.com/65439761/111177853-a271f080-85d0-11eb-9078-01528f97a811.PNG)
@shairanshrawat you need to change the icons of all these ratings. Just add all these ratings in your figma design. I hope you get it now.

[2021-03-15 16:38] AasthaNautiyal commented on #76
![image](https://user-images.githubusercontent.com/78968859/111188019-99861c80-85da-11eb-8d94-796c8937d877.png)
@khushishikhu Hi I just made the outline of the contact gynecologist option .I need to do the styling part but are there any more options I should add to it? Please guide me .Thank you.

[2021-03-15 16:43] khushishikhu commented on #76
@AasthaNautiyal just add one more field about how many months your Periods are late.

[2021-03-15 18:09] khushishikhu commented on #89
@ShambhaviSharma0110 this issue is already assigned. You can look for other issues where no one has created any PR or haven't given any updates from past 3 days . Thank you for showing interest

[2021-03-15 20:18] shairanshrawat commented on #20
@khushishikhu so I have to add all these categories that are there in this picture also with the icons like I have put in my Figma file right?
one more thing you want the same background as in this picture or something else?

[2021-03-15 20:22] khushishikhu commented on #20
@shairanshrawat yes you it right, No the background should be like your figma file that you have designed as we really loved that😍.

[2021-03-16 03:28] mdPial commented on #80
Do I have to make responsive too for this issue?

[2021-03-16 03:56] mdPial commented on #80
I have made this. Am I going in right direction?.
![grab-landing-page](https://j.gifs.com/mOBlM3.gif)

[2021-03-16 04:01] khushishikhu commented on #80
@mdPial it would be great if you can make it responsive.
But we loved how you created this splash screen 😍😍. Thank you so much. Make a PR also for this

[2021-03-16 04:38] mdPial commented on #80
Okay I will look for good background image😊 and try to make it responsive.

[2021-03-16 05:18] SandeepKrSuman opened #100 "Dynamic contributors section in README"
## Is your feature request related to a problem? Please describe.
Previously the contributors were supposed to enter their name in readme before creating a pr. This used to create merge conflicts. Although the contributors section is now removed from README can we put it back at the bottom of the readme but this time let it be dynamic so that it is updated automatically?

## Describe the solution

[2021-03-16 05:23] #93 closed

[2021-03-16 05:23] khushishikhu commented on #100
@SandeepKrSuman  I don't think that there is a need to have a particular section for contributors in Readme . As we can still see the contributors . So closing this issue. If you have any other idea you can come with that ✌️

[2021-03-16 05:24] #100 closed

[2021-03-16 05:27] #63 closed

[2021-03-16 05:27] #52 closed

[2021-03-16 05:28] #54 closed

[2021-03-16 07:39] SandeepKrSuman commented on #49
If no one is up for it, I can take this...

[2021-03-16 08:55] shairanshrawat commented on #20
I'm glad you like it, okay I get all of it, will get back to you asap after finishing

[2021-03-16 09:27] khushishikhu commented on #49
@SandeepKrSuman  assigning this to you. Happy Coding!!

[2021-03-16 09:35] satavshreya opened #101 "display of the prior periods or delayed periods graph"
a graph must be there in  order to examine periods timings whether they are on average or super delayed @khushishikhu do let me what do you think of this if yes then do assign me this one! :)

[2021-03-16 09:49] khushishikhu commented on #101
@satavshreya where on the website you are planning to add this feature?. I like your idea👍

[2021-03-16 10:54] ritesh1731 commented on #67
Here are some of the designs for the profile page. Please review them so that I can make changes if require and start coding.

[2021-03-16 11:00] khushishikhu commented on #67
@ritesh1731 @Nidhikamewar15  I found the first design impressive 😍. You can start working on making this as our profile page🎉

[2021-03-16 11:41] A-HK commented on #5
Hey @khushishikhu @Aaishpra , sorry for taking so much time!
I've never worked with Nextjs before, so exactly copying the design is proving to be a little tricky
![Screenshot (390)](https://user-images.githubusercontent.com/73497800/111303363-71e69100-867a-11eb-9d65-1e14f7a799fa.png)
Can you tell me if what I've worked on till now is acceptable?

[2021-03-16 12:42] satavshreya commented on #101
Like if a female signs in then there has to be an option at the navbar or just on the homepage "My Track" or something similar that will help her analyse how regular or irregular dates she has had so a pictorial representation would help. : ) @khushishikhu

[2021-03-16 12:46] khushishikhu commented on #101
@satavshreya Got it👍🎉. Thank you for opening this issue. Assigning this to you

[2021-03-16 12:57] satavshreya commented on #101
Yes, Thank  you!

[2021-03-16 13:00] khushishikhu commented on #5
@A-HK  It's really awesome. Just one thing can you please change the colour of cards just like you showed us on your figma file

[2021-03-16 14:25] RiaKokate commented on #67
Hello @khushishikhu .
I hope you are safe and doing well.
I would like to work on this task. Could you please assign it to me?

[2021-03-16 14:36] A-HK commented on #5
Hey! Unfortunately, that's exactly what I'm not able to figure out.
If you don't mind, can I send a PR so that you can see my code and tell me where I'm going wrong?

[2021-03-16 14:51] Aaishpra commented on #5
@A-HK yes please, also I am very glad that you learned working with next js for this PR, hope this was a good learning experience for you 😉.

[2021-03-16 17:53] sahilempire opened #103 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as I get assigned !

Thank You

[2021-03-16 18:33] satavshreya opened #104 "Backend to store the dates accordingly set by the user in every account"
## Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

## Additional context

[2021-03-16 18:39] A-HK commented on #5
I sure did! This was extremely fun, although I suspect I messed up quite a bit xD.

[2021-03-17 03:52] rohank2502 commented on #71
@khushishikhu Someone have already worked on This issue and its not fair to change that So Should I close this issue or you want my badges to get added please let me Know I will be happy to work !

[2021-03-17 08:06] lakshita15 commented on #103
I'am gssoc participant
I would like to work on this issue. I will submit before due date with fantastic work.

[2021-03-17 08:06] lakshita15 commented on #6
I'am gssoc participant
I would like to work on this issue. I will submit before due date with fantastic work.

[2021-03-17 15:02] khushishikhu opened #108 "PR deployment from netlify"
## Is your feature request related to a problem? Please describe.

Maintainer and contributor have to setup the branch in their local to test out and review the PR , which is very time consuming for both contributors and maintainers.
## Describe the solution you'd like

Temporarily deploy the PR from GitHub actions using netlify deploy.

## Additional context

Please read [this](https://www.netlif

[2021-03-17 18:50] shairanshrawat commented on #20
@khushishikhu I have edited the design have a look at [FIGMA LINK](https://www.figma.com/file/gCgZ9vu1gnPoajCps9w9Gz/Periodo?node-id=0%3A1). Lemme know if any modification is required

[2021-03-17 21:08] vismitap commented on #108
Hey! I would like to work on this issue as a part of GSSoC'21! Please assign me this issue! 🤩

[2021-03-17 21:11] vismitap commented on #25
Hey! May I work on this issue? I am a GSSoC'21 participant.

[2021-03-18 11:16] Bhawna147 commented on #89
Can I work on this?

[2021-03-18 11:18] AakankshaShah commented on #78
We can Use Google Map APIs for this.

[2021-03-18 11:19] Bhawna147 commented on #26
Please assign this to me

[2021-03-18 12:48] jain-rishabh-21 opened #110 "Can we use docker as an Alternative way to Setup Project !"
## Is your feature request related to a problem? Please describe.
Will ease the process of installation for people working on OS different than Linux

## Describe the solution you'd like
Using Docker to use a single command to install

## Additional context
NA

[2021-03-18 12:48] jain-rishabh-21 commented on #110
If found useful please assign it to me.
Discord: krackerzzz#4371

[2021-03-18 12:58] Aaishpra commented on #78
Okay if you're still interested then assigning you this.

[2021-03-18 13:01] Aaishpra commented on #110
@jain-rishabh-21 assigning you

[2021-03-18 18:48] AakankshaShah commented on #78
@Aaishpra  Thank you ma'am I will try my best.

[2021-03-18 19:03] Aaishpra commented on #78
No mam just @Aaishpra please ☺️

[2021-03-18 19:42] ambivert-sam commented on #12
Hey !! I am a participant of GSSOC'21 ,  I would like to work on this issue?

[2021-03-18 20:01] khushishikhu commented on #12
@ambivert-sam assigning this to you

[2021-03-19 10:03] mdPial commented on #108
If no one is assigned I would like to work on that issue. I have not assigned in any issue currently.

[2021-03-19 10:06] khushishikhu commented on #9
@parulsurana can you please make a PR for it

[2021-03-20 04:47] #40 closed

[2021-03-20 04:53] khushishikhu commented on #108
@vismitap Assigning this to you. Happy coding!!

[2021-03-20 05:07] #103 closed

[2021-03-20 05:13] Aaishpra commented on #22
@micksharma updates??

[2021-03-20 05:14] #80 closed

[2021-03-20 05:28] khushishikhu commented on #89
@Bhawna147 Assigning this to you. Happy coding!!

[2021-03-20 05:30] khushishikhu commented on #83
@WaderManasi are you still working on this issue? or should i assign this to @ShambhaviSharma0110

[2021-03-20 05:31] khushishikhu commented on #104
@satavshreya still working on it? Any updates?

[2021-03-20 05:32] #77 closed

[2021-03-20 05:33] WaderManasi commented on #83
I have already created PR for the same.

[2021-03-20 05:34] WaderManasi commented on #83
As you told not to create another PR for contact page, I have merged it into the previous PR which was created for the Footer

[2021-03-20 05:41] khushishikhu commented on #83
@WaderManasi yes we know but are you looking for the suggestions we have suggested you on that? Please do let us know

[2021-03-20 05:46] khushishikhu commented on #83
@WaderManasi  ya I have checked it out can you just please add the screenshot of the contact us thing you have added. I am very keen to see that🤩

[2021-03-20 06:23] WaderManasi commented on #83
Sure...
![contaxt](https://user-images.githubusercontent.com/52437677/111861254-cdfb2f00-8972-11eb-8eba-d56511dbd1b3.PNG)

[2021-03-20 09:27] mdPial commented on #69
@Shwetang550 Did you start working?

[2021-03-20 11:06] #49 closed

[2021-03-20 11:42] #5 closed

[2021-03-20 11:56] khushishikhu opened #112 "coding: Adjust the Navbar"
**Describe the bug**
Adjust the Navbar. Currently user is not able to see all the tabs available on the navbar. Also decrease the height of navbar to size which is considered as fit for it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Navbar'
2. See error

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/65439761/111868678-598bb480-89a1-11eb

[2021-03-20 17:12] mdPial commented on #112
I would like to work on that issue.

[2021-03-20 17:20] nehathakur27 commented on #112
I would like to work on it.

[2021-03-20 17:42] khushishikhu opened #113 "Design: change card colour"
## Is your feature request related to a problem? Please describe.

Change the colour of cards in about page to some what light colour

## Additional context

Please do add the screenshot

[2021-03-20 17:44] khushishikhu commented on #112
@mdPial assigning this to you. Happy Coding!!
@nehathakur27 you can look for any other issue on which the work isn't started yet don't and the assigned one haven't given any updates on it😊

[2021-03-20 17:47] khushishikhu commented on #71
@rohank2502 if you are interested in any other badges which isn't there then please add otherwise you are free to close this issue

[2021-03-20 17:49] khushishikhu commented on #69
@Shwetang550 any updates? Or I will assign this issue to @Nidhikamewar15 (if you are interested to work on it I will happily assign you 😊)

[2021-03-20 17:56] akshitakanojia commented on #113
Hi @khushishikhu,

Will this work

![Screenshot 2021-03-20 232359](https://user-images.githubusercontent.com/44370673/111880795-81940b80-89d3-11eb-84c5-4eecf80dc2ab.jpg)

[2021-03-20 17:59] khushishikhu commented on #113
@akshitakanojia  could you make it more light in this tone only

[2021-03-20 18:15] akshitakanojia commented on #113
@khushishikhu  have a look at these

![Screenshot 2021-03-20 233842](https://user-images.githubusercontent.com/44370673/111881309-e05a8480-89d5-11eb-9cb2-db97cd2c8c6e.jpg)

![Screenshot 2021-03-20 234015](https://user-images.githubusercontent.com/44370673/111881320-ea7c8300-89d5-11eb-9e38-fe61ff54aa2b.jpg)

[2021-03-20 18:45] khushishikhu commented on #113
@akshitakanojia Looks good now👍. Please go ahead for the PR of it

[2021-03-20 19:44] #113 closed

[2021-03-21 04:30] Shwetang550 commented on #69
Yess @mdPial I'm working on it...

Sorry @khushishikhu for the delay... Was busy in my mid-semester examinations 😅 will create a pr soon for this issue... 😁

[2021-03-21 05:00] mdPial commented on #112
@khushishikhu  I have found some code issues in the `navbar.js` file.

- semicolons are not given in some line
- more than one break lines between some lines
- code is not formatted
- instead of **className** used **class**
- instead of **htmlFor** used **for**
- `img` tag has a separate opening and closing tag
- `Typography` component imported + used but don't have any text inside that

Should I

[2021-03-21 07:42] khushishikhu commented on #69
@mdPial No problem ✌️ I can understand

[2021-03-21 07:47] Aaishpra commented on #83
@WaderManasi can you update your fork once and then send the screenshot, cuz the background has been changed recently.

[2021-03-21 07:50] Aaishpra commented on #83
And may be change the white background of card to pink cuz it will look good on the recent white background.
Again thanks for your hardwork and time and sorry for so many requests, the project is still in developing state so we sometimes have to ask a lot of changes in PRs, hope you don't mind 😉

[2021-03-21 09:12] WaderManasi commented on #83
First of all @Aaishpra, I request you to merge the contact page, coz other contributors who are willing to change theme of website can work on it!. It is not easy for me to keep on changing the things according to changes done by other people.

I have updated my work 4 times with current upstream which has lead to many conflicts because of other contributions being merged.

I would like to tell th

[2021-03-21 09:33] khushishikhu commented on #112
@mdPial you are already assigned to an issue I guess so let others also give chance to contribute. @nehathakur27 assigning this to you

[2021-03-21 09:35] khushishikhu commented on #112
@mdPial yes you can change those👍

[2021-03-21 09:41] Aaishpra commented on #83
@WaderManasi the motive of open source is not just merging PRs(and getting points here in the case of gssoc), but learning the workflow and establishing the bond with the community. I personally have submitted pull requests to many organisation and had to change my work everytime they decided they needed something new from it (in one case 22 times). Please understand that this is my project, and i

[2021-03-21 09:56] WaderManasi commented on #83
@Aaishpra  I have clearly mentioned that it was **NOT ONLY REGARDING MY CASE**.
My intention of saying was **not** at all regarding gssoc points 😂😂😂 .
Just saying that merge other people's PR's which are approved but still pending, so that everyone's contribution will we visible to the new contributor and would be able to make changes in them too!

[2021-03-21 10:01] WaderManasi commented on #83
I can understand your concern regarding your project.
As you told I have already changed the form color from white to pink💗
But just thought to share with you.

[2021-03-21 11:06] ambivert-sam commented on #12
Mam please review it
![Screenshot (157)](https://user-images.githubusercontent.com/74984661/111902452-8ef8d680-8a63-11eb-9c48-ef60d7063ebe.png)

[2021-03-21 14:12] khushishikhu opened #117 "bug: Adjust"
**Describe the bug**

Adjust the Navbar and the area where "how we help" is written as currently it is overlapping

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'About Us'
2. See error

**Expected behavior**

Overlapping should not be there

**Screenshots**

![image](https://user-images.githubusercontent.com/65439761/111907898-2f0f2980-8a7d-11eb-9bb7-952715246d74.png)

**Desktop (ple

[2021-03-21 14:12] #6 closed

[2021-03-21 14:16] Sukriti-sood commented on #117
@khushishikhu Please assign this to me

[2021-03-21 14:16] khushishikhu commented on #117
@Sukriti-sood assigned this to you. Happy Coding!!

[2021-03-21 16:36] WebVishal opened #118 "Automated Slider added in Home"
Hii @khushishikhu  I think for a more attractive home page, we should add the automatic slider with animation text if it is good then Can I work on this idea as a Gssoc'21 participant

[2021-03-21 16:43] khushishikhu commented on #118
@WebVishal yes you can . Thank you for opening this issue. Assigning this to you✌️

[2021-03-22 04:59] satavshreya commented on #104
is the login page ready? so that i can fill in my database accordingly

[2021-03-22 07:03] satavshreya commented on #104
i have created the php connection file it has to be included in the login page and i have taken some attribute columns into the database periodo which are as follows StartDate EndDate FirstName LastName please guide me for further process @khushishikhu

[2021-03-22 12:27] #76 closed

[2021-03-22 12:42] #112 closed

[2021-03-22 16:38] Sukriti-sood commented on #117
@khushishikhu  I also found that it is not responsive for screen size less than 1000

[2021-03-22 16:53] khushishikhu commented on #117
@Sukriti-sood you can make a new issue for this after completing this one. Which will also help you to gain more points

[2021-03-22 16:56] Sukriti-sood commented on #117
Please See this Screenshot ,I think overlapping has been fixed

![screencapture-localhost-3000-about-2021-03-22-22_24_55](https://user-images.githubusercontent.com/55010599/112027804-8f759800-8b5d-11eb-9ac5-68c049680079.png)

[2021-03-22 17:05] Sukriti-sood opened #121 "Responsiveness"
**Describe the bug**
Currently Website is not Responsive for the screen size less than 1000

**To Reproduce**
Steps to reproduce the behavior:
Make it Responsive

[2021-03-22 17:16] Sukriti-sood opened #122 "Enhancement"
**Describe the bug**
Light blue color on hover on Nab Option is not matching the website Theme
**To Reproduce**
Steps to reproduce the behavior:
- This should be replace with Light pink Color same as in Illustrations

[2021-03-22 17:47] nishihere19 commented on #122
Hi, can I work on this under gssoc'21?

[2021-03-22 18:22] bhavesh1334 opened #123 "Improve Toggle background"
There should be some background so that **toggle** options can be clearly visible.
I like to work on this issue (GSSOC_21 participant).

![Screenshot (77)_LI](https://user-images.githubusercontent.com/50066490/112039083-a3bf9200-8b69-11eb-8732-31adf2f4aaf4.jpg)

[2021-03-22 18:25] bhavesh1334 commented on #123
@khushishikhu Please assign this to me !!.

[2021-03-22 18:42] khushishikhu commented on #123
@bhavesh1334 thank you for opening this issue. Assigning this to you ✌️

[2021-03-22 18:47] khushishikhu commented on #122
@nishihere19 assigning this to you. Happy Coding✌️

[2021-03-23 01:33] Sukriti-sood commented on #121
Sorry @khushishikhu but I think this should be Level3 issue .

[2021-03-23 05:54] ambivert-sam commented on #12
@khushishikhu mam can I make PR?

[2021-03-23 08:31] khushishikhu commented on #12
@ambivert-sam Yes please go ahead. I would be happy to show that in action with this project

[2021-03-23 09:31] khushishikhu commented on #104
@satavshreya the fields you need to add for login are username and password

[2021-03-23 13:00] A-HK opened #128 "Enhancement - Making the Navbar Sticky"
When you scroll down a page, it would be ideal for the Navbar to still be displayed at the top.

**To Reproduce**
Steps to reproduce the behavior:
1.Go to AboutUs page or Tips page
2.While scrolling down, the navbar remains at its original position and the user needs to scroll up again to access the page links.

Although this is a relatively trivial issue, I think it would still play a small part

[2021-03-23 13:38] Rohit-Parameswaran opened #129 "Enhancement - Improving GynacHelp form UI"
**Description**

- The GynacHelp form UI has scope for improvement. I feel like it can be made a bit more aesthetic and intuitive.

**Intended enhancements**

- Make changes to form UI - alignment, positioning, making the "Return Home" a button etc.

[2021-03-23 19:23] khushishikhu commented on #12
@ambivert-sam  I have checked your PR to which somehow I feel like you didn't know that here in this Project we do not use html file to create the login page as this project has built with the Next.js framework. So if possible please make the PR of try to implement your ideas with Next.js. To know further about Next.js you can read it's documentation, it is easily available on the internet. I hope

[2021-03-23 20:12] ambivert-sam commented on #12
okay mam np

[2021-03-24 03:12] #7 closed

[2021-03-24 06:51] pm0824 opened #131 "Fixing submission of empty notes"
**Describe the bug**
In notes section, empty notes are getting created. We can obligate the user to complete the note before submitting it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'notes'
2. Click on 'submit' without filling title and content
3. See error (Empty note created)

**Expected behavior**
Notes should be created only when user fills all the data.

**Screenshots**
![im

[2021-03-24 07:30] Aaishpra commented on #131
Issue confirmed and assigned

[2021-03-24 07:31] Aaishpra commented on #129
Yep sure thanks for the issue @Rohit-Parameswaran , but please share the design here in the comments before opening a Pull Request

[2021-03-24 07:32] Aaishpra commented on #128
@A-HK issue confirmed and assigned

[2021-03-24 07:43] pm0824 commented on #131
Thank You

[2021-03-24 09:31] A-HK commented on #128
Made a PR for the same.

[2021-03-24 11:09] #128 closed

[2021-03-24 12:23] mdPial opened #134 "Fixing Calendar typo in the project"
## 📚 Documentation

Currently, `calendar` is written like `calender` in some places. **I want to fix these**.
![image](https://user-images.githubusercontent.com/43095489/112308991-fb2a4300-8ccc-11eb-8f32-aebc6c7c84f9.png)
![image](https://user-images.githubusercontent.com/43095489/112309074-1ac16b80-8ccd-11eb-974e-0d00174bb136.png)

I am confused about giving the category `documentation` or `bug`.

[2021-03-24 15:04] satavshreya commented on #104
![image](https://user-images.githubusercontent.com/61575173/112332444-bfe53f80-8cdf-11eb-86a1-95f49298041b.png)
I have done this  and  one more php database connection
![image](https://user-images.githubusercontent.com/61575173/112333028-3eda7800-8ce0-11eb-8486-fdd576307174.png)

[2021-03-24 15:05] satavshreya commented on #104
for fetching the code of php has to be put up in login page so how should I do that and do let me know about further things

[2021-03-24 15:40] #108 closed

[2021-03-24 16:07] vismitap commented on #45
Hey! May I work on this issue?

[2021-03-24 16:13] vismitap commented on #25
Is this issue still up for grabs?

[2021-03-24 16:16] vismitap commented on #22
May I work on this issue as a part of GSSoC'21?

[2021-03-24 18:02] khushishikhu commented on #45
@vismitap assigning this to you. Happy Coding!!

[2021-03-24 20:01] vismitap commented on #45
Hey @khushishikhu, what happened? May I work on this?

[2021-03-25 01:13] khushishikhu commented on #25
@vismitap yes, it is assigning this to you. Happy Coding!!

[2021-03-25 01:15] khushishikhu commented on #45
@vismitap actually this issue has already been done so now I am closing this issue. Sorry for inconvenience 😅

[2021-03-25 01:15] #45 closed

[2021-03-25 06:22] vismitap commented on #25
Thanks for assigning! Could you please tell me what needs to be done here? Do I need to rewrite the documentation on docusaurus? Could you guide me with the workflow of this issue?😅

[2021-03-25 08:06] A-HK opened #135 "Making Images in AboutUs page responsive"
**Describe the bug**

When the screen is minimized to width < 920 pixels, the images on the About page do not move with the screen, instead staying fixed in their position. Thus, they are not responsive.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'AboutUs' page.
2. Minimize the screen width to less than 920 pixels.
3. See error of images staying fixed on the screen and not moving

[2021-03-25 09:15] khushishikhu opened #136 "bug: Add the button"
**Describe the bug**

add the Login button on the navbar. the file is already there in the Pages folder name as "LoginPage"

**Screenshots**

![image](https://user-images.githubusercontent.com/65439761/112448666-a5ab7000-8d78-11eb-8fea-16b1d5a01778.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (p

[2021-03-25 09:17] khushishikhu commented on #136
@vismitap assigning this issue to you as it is a for beginner. And our moto for Gssoc is to make every one learn how to work with github

[2021-03-25 09:21] khushishikhu commented on #135
@A-HK  thank you so much for opening this issue. Assigning this to you

[2021-03-25 09:27] Ayush0730 commented on #136
Can I work on this issue as a part of GSSoC'21 ?

[2021-03-25 09:49] #16 closed

[2021-03-25 09:52] #131 closed

[2021-03-25 10:21] shairanshrawat commented on #20
hey, @khushishikhu did you checked the design?

[2021-03-25 10:23] shairanshrawat commented on #20
if they are okay can I make a PR for the same

[2021-03-25 10:23] Abhishekkr93 commented on #136
I would like to contribute as a Gssoc21 participant. could you please assign me this?  i will fix this.

[2021-03-25 10:24] A-HK commented on #135
Made a PR for the same.
Please let me know if everything is satisfactory!

[2021-03-25 10:31] khushishikhu commented on #20
@shairanshrawat yes yes, please they are wonderful. I would liked it a lot of you make it into action. Sorry I just got completely forgotten about this because of my exams. Please go ahead 😉

[2021-03-25 11:16] parulsurana commented on #9
Yeah sure, I will do it.
Sorry for being late.

[2021-03-25 11:59] Saatvik21 opened #138 "Hover effects on "Read More" and Cards in Tips Section"
## Is your feature request related to a problem? Please describe.

Currently there are no hover effects on the cards and the page looks still (TIPS SECTION)

## Describe the solution you'd like

I would like to add hover effects on the "read more" button as well as the cards.

## Additional context

Kindly assign me this issue under GSSoC'21.

[2021-03-25 14:12] #122 closed

[2021-03-25 14:35] soulsurya commented on #138
hello,
i'm Suryakant , i can make the cards more attractive by using hover effects , i have previous experience in this and it will be great if you assign me this issue under GSSoC'21

[2021-03-25 16:28] khushishikhu commented on #138
@Saatvik21 Thank you so much for opening this issue. Assigning this to you. @soulsurya you can look for any other issue of the project as he has already asked for assigning

[2021-03-25 21:29] loneWarrior581 opened #140 "Adding a graphs for data visualization"
## Is your feature request related to a problem? Please describe.
The current version of application dose not contain any feature for visualizing the data based on based on his **daily survey** taken on the application at `/flow`. A line graph would be created on his daily survey that she marks so that she can put a track on her past record and would be easy for her prescription and also would hel

[2021-03-26 02:09] khushishikhu commented on #140
@loneWarrior581 Thank you so much for opening this issue. Would you like to be assigned on this issue?

[2021-03-26 02:11] #138 closed

[2021-03-26 02:21] khushishikhu opened #141 "Doc: change the image of Readme.md"
## 📚 Documentation

The image of the Periodo website needs to be updated with the current one

[2021-03-26 04:03] Saatvik21 commented on #141
I would like to work on this issue.

Kindly assign me this issue under GSSoC'21😊

[2021-03-26 04:29] #134 closed

[2021-03-26 05:19] loneWarrior581 commented on #140
Sure I would love to work upon this issue .😊

[2021-03-26 06:54] khushishikhu commented on #141
@Saatvik21 assigning this to you

[2021-03-26 08:21] A-HK commented on #22
Hey @khushishikhu @Aaishpra , if nobody's working on this currently, may I try contributing to this issue?

[2021-03-26 08:35] khushishikhu commented on #22
@A-HK yes sure, please go ahead

[2021-03-26 08:37] #141 closed

[2021-03-26 09:04] sakshi-s opened #144 "Feat : Discussion forum"
Most of the time we shy away from talking about periods. The website could have a discussion forum where women can openly talk about their period experiences.

[2021-03-26 10:30] #135 closed

[2021-03-26 17:06] Aaishpra commented on #104
@satavshreya I basically use Django or flask for backend so don't have much idea about PHP (never used it before), but give me some time I will read about it and let you know the details 🙌🏻

[2021-03-26 19:04] keshavga1209 opened #145 "Logo on top left corner should redirect to home page."
The logo on the top left corner on the navbar of the website should redirect user to the homepage. Right now it does nothing.

**Screenshots**

![image](https://user-images.githubusercontent.com/59997067/112680863-eb109000-8e93-11eb-8380-5e7481893136.png)

Please assign this issue to me.

[2021-03-26 20:24] parulsurana commented on #9
Hey! @khushishikhu and @Aaishpra I have made the PR. Please review the 2nd PR. Thanks :)

[2021-03-27 06:21] #110 closed

[2021-03-27 09:20] A-HK commented on #22
Hey @Aaishpra @khushishikhu , would appreciate it if  you give me a few pointers on how to go about this issue when you have a few minutes to spare.

- For instance, do you want me to create a separate dedicated 'Prescriptions' page which the quiz would lead to, or do you want it to lead to a specific card on the 'Tips' page?

- Also would like some clarity on whether the results should be determi

[2021-03-27 09:34] khushishikhu commented on #22
@A-HK I want to the thing should go like , the user will get the suggestion show up for what do to next in that page only or you can also make a pop up for what to do next according to her score in the quiz , the second you have written is the exact thing what I need here. Thank you for showing your interest , I hope this cleared your confusion if still any confusion left in your mind feel free to

[2021-03-27 15:16] likhitha-19 commented on #136
can i work on this as part of Gssoc

[2021-03-27 18:15] vismitap commented on #136
@khushishikhu The navbar is already added! I didn't get what do you want me to do 🤔.
![image](https://user-images.githubusercontent.com/47056243/112730204-499e4280-8f56-11eb-9d8b-60210ea7f809.png)

[2021-03-27 20:35] padmajabhol opened #148 "Opaque background."
**Describe the bug**
Texts on many pages is less visible because of the background.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'landing page'
2. Click on 'gynachelp/about us'
3. Scroll down to '....'
4. See error

**Expected behavior**
The background image should be opaque and the text must be more visible.

**Screenshots**

![Screenshot (62)](https://user-images.githubusercontent

[2021-03-27 21:05] akshay1027 opened #149 "Notes not visible clearly."
**Describe the bug**
The notes we take are not visible properly as the background not transparent.

**Expected behavior**
The notes should be visible clearly and the background should be transparent.

**Screenshots**
![2021-03-28 (3)](https://user-images.githubusercontent.com/65683151/112734805-0e0f7280-8f6e-11eb-91c7-9a8a79ea8155.png)

**Desktop (please complete the following information):**
 - O

[2021-03-27 21:07] akshay1027 commented on #149
Just now noticed the same issue has been already raised. Sorry!

[2021-03-28 08:14] khushishikhu commented on #136
@vismitap add the button named as "signup" on the navbar linked with this LoginPage I have mentioned in the issue description

[2021-03-28 18:16] RituCs commented on #30
Hello, I would like to work on this issue . The footer section needs improvements in its design and should be more informative like open source section,follow us section,copyright . Thanks !

[2021-03-29 03:42] #87 closed

[2021-03-29 11:16] padmajabhol opened #153 "Hover effect in About Us section."
## Is your feature request related to a problem? Please describe.
There isn't any hover effect in the about us section cards

## Describe the solution you'd like
I want to add hover effects in that particular section.

## Additional context

[2021-03-29 11:17] padmajabhol opened #154 "404 Page"
## Is your feature request related to a problem? Please describe.
The current 404 page has no styling.

## Describe the solution you'd like
I want to change the UI of the 404 page.

## Additional context

[2021-03-29 12:12] #9 closed

[2021-03-29 17:57] Shwetang550 commented on #69
Sorry @khushishikhu will be unable to pursue further because of some college stuff... You can assign this issue to someone else... Sorry for the inconvenience

[2021-03-29 19:54] RituCs commented on #69
I would like to work on this issue under GSSOC'21. Please assign me. Thanks !

[2021-03-30 03:00] khushishikhu commented on #69
@RituCs assigning this to you

[2021-03-30 03:58] #30 closed

[2021-03-30 09:20] sonalisonawane opened #155 "Adding dark mode to the homepage"
Adding Dark mode to homepage will improve the appearance of website, Also it would be reduce eye strain. You can add gssoc label for this issue :)

[2021-03-30 13:04] shairanshrawat commented on #20
hey @khushishikhu I have made the PR 4 days ago I hope it's not creating any issues as it's not merge yet

[2021-03-30 15:29] parulsurana opened #156 "Styling of the ChatBot button"
As the chatbot button has no styling, I want to add styling to that. @khushishikhu and @Aaishpra, kindly assign this issue to me.

[2021-03-30 15:30] Aaishpra commented on #156
Go ahead

[2021-03-30 16:38] parulsurana commented on #156
Okay, ThankYou!

[2021-03-30 16:49] khushishikhu commented on #154
@padmajabhol thank you for opening this issue. If you want to work on this issue or I will assign this to someone else

[2021-03-30 16:50] khushishikhu commented on #145
@keshavga1209 assigning this to you. Thank you for opening this issue

[2021-03-30 18:26] keshavga1209 commented on #145
hey,just a simple query. Never used yarn before. So should I use "yarn install --global" as mentioned in readme or just "yarn install" can do the job. I mean do i really need to install yarn globally just for this project?

[2021-03-30 18:33] Vaishnavi798 commented on #153
Can I work on this issue as a part of GSSoC'21 ?

[2021-03-31 03:22] Aaishpra commented on #22
Really which lines, this wasn't intentional can you share the screenshot ar anything else to help us look into it.

[2021-03-31 04:12] A-HK commented on #22
This was before I updated my fork
![before_fork](https://user-images.githubusercontent.com/73497800/113089147-a757b680-9204-11eb-8a18-a8d9f4c92c32.png)

And this is how it looks right now ( even in the deployed vercel app )
![after_fork](https://user-images.githubusercontent.com/73497800/113089154-acb50100-9204-11eb-96d6-e6f1f485b5d1.png)

Strangely, when I enter mobile mode, one of the lines appe

[2021-03-31 04:25] khushishikhu commented on #22
@A-HK Thank you for making us aware of this issue. Can you please make a new issue regarding this bug and if you yourself wants to work on this issue by making a separate PR, tell us we will assign you

[2021-03-31 04:35] khushishikhu commented on #145
@keshavga1209  As it is written in the Readme if you don't have yarn installed in your computer. Then you have to use `yarn install --global`

[2021-03-31 04:40] khushishikhu commented on #153
@Vaishnavi798 yes you can. assigning this to you

[2021-03-31 04:41] khushishikhu commented on #149
@akshay1027 where can you please mention that issue here. I haven't find any

[2021-03-31 04:44] khushishikhu commented on #144
@sakshi-s Good idea. can you please tell us briefly how are you planning to add this feature

[2021-03-31 04:45] #155 closed

[2021-03-31 04:50] akshay1027 commented on #149
No It's not mentioned specifically, generall it's mentioned. I would be happy to work on this issue @khushishikhu

[2021-03-31 04:52] khushishikhu commented on #149
@akshay1027 cool. Assigning this to you. Happy Coding!!

[2021-03-31 12:43] janvi01 commented on #28
Can I work on this issue?

[2021-03-31 13:02] AakankshaKamal opened #158 "Nearby hospitals List"
## Is your feature request related to a problem? Please describe.
Sometimes there may be an emergency case where they need to go to a hospital, or for general treatment.

## Describe the solution you'd like
We can include an option to locate the nearby hospital and could also provide directions for it.

[2021-03-31 13:07] AakankshaKamal commented on #148
I would like to work on this issue as a gssoc 21 participant.

[2021-03-31 13:26] #156 closed

[2021-03-31 15:35] Muskan-creator commented on #153
Can i work on this issue please ?

[2021-03-31 17:23] aditi1403 opened #161 "Update Readme.md file"
I have made some grammatical edits to the README.md file. Kindly refer to PR #160.

[2021-03-31 18:44] A-HK opened #162 "Bug: Text in 'AboutUs' page disappears in desktop mode"
**Describe the bug**

In desktop mode, some lines of description in the AboutUs page below 'How We Help' are currently not visible.

What it looks like currently:
![after_fork](https://user-images.githubusercontent.com/73497800/113193705-e70eb480-927d-11eb-8c44-fa57983ddc1e.png)

What it should look like (Expected Behaviour):
![before_fork](https://user-images.githubusercontent.com/73497800/113193

[2021-04-01 02:36] Aaishpra commented on #22
Hey @A-HK no problem take your time we can understand your situation because we also just gave our end sems and it was exhausting for us to manage both project and exams side by side, so you can definitely focus on your exams currently.
Good luck for your exams. Hope they go well.🙌🏻

[2021-04-01 02:36] Aaishpra commented on #22
Btw love your work you can resume it after exams

[2021-04-01 04:25] mis-coder commented on #162
Hi! I would like to give it a try. Please assign it to me.

[2021-04-01 05:33] mis-coder commented on #162
![screenshot](https://user-images.githubusercontent.com/51118723/113248019-cd02bf80-92d9-11eb-84dd-7cd218302769.PNG)

I tried to increase the margin-top to check where the problem lies. We just need to adjust their position..

[2021-04-01 07:19] satavshreya commented on #26
@khushishikhu  @Aaishpra i would like to work on this issue :)

[2021-04-01 07:26] Aaishpra commented on #26
@Bhawna147 are you still interested in the issue or we can assign this to @satavshreya

[2021-04-01 09:12] satavshreya commented on #162
@Aaishpra @khushishikhu yes i am ready to do this i can fix it :)))

[2021-04-01 09:23] Aaishpra commented on #162
@mis-coder can you look for other issue actually we had already talked about it with @satavshreya so assigning him here.

[2021-04-01 10:37] mis-coder commented on #162
No problem! I wanted to solve it and i did😊

[2021-04-01 10:43] satavshreya commented on #162
![2021-04-01 (2)](https://user-images.githubusercontent.com/61575173/113282739-fab12e00-9304-11eb-81cc-3aafd0e68be2.png)
![2021-04-01 (5)](https://user-images.githubusercontent.com/61575173/113282743-fbe25b00-9304-11eb-864a-8a594da8514f.png)
Check this out ! Any more changes? Ready for that

[2021-04-01 10:55] Aaishpra commented on #162
Looks good submit the PR, i will review it by eod.

[2021-04-01 10:57] Aaishpra commented on #144
@sakshi-s are you going to work here,

[2021-04-01 10:59] Aaishpra commented on #39
@shalmoly79 updates??

[2021-04-01 11:34] janvi01 commented on #28
@khushishikhu

[2021-04-01 11:45] khushishikhu commented on #28
@janvi01 assigning this to you. Happy Coding!!

[2021-04-01 11:48] khushishikhu commented on #26
@satavshreya assigning this to you. As no one is currently working on this or responded in a while

[2021-04-01 13:36] janvi01 commented on #28
where should I put "Wanna Rate Yourself" option, just after home option or at last or in between any two option?
Please elaborate

[2021-04-01 15:57] sakshi-s commented on #144
I have my exams, I can't work on it till the weekend.

[2021-04-01 16:15] Aaishpra commented on #144
No problem take your time, just keep giving updates.
And all the best for your exams👍🏻

[2021-04-01 20:26] akshitakanojia commented on #136
Hi @khushishikhu  can I work on this issue?

[2021-04-02 01:58] vismitap commented on #136
This issue was for the old site which didn't have the navbar. It will be closed by @khushishikhu.

[2021-04-02 02:12] #136 closed

[2021-04-02 04:43] janvi01 commented on #28
@khushishikhu

[2021-04-02 16:13] #162 closed

[2021-04-02 16:30] khushishikhu commented on #28
@janvi01 anywhere you can put. Where you feel it looks good

[2021-04-02 19:28] akshay1027 opened #165 "Bug in about us page"
**Describe the bug**
content overlapping in about us

**Screenshots**

![2021-04-03_LI](https://user-images.githubusercontent.com/65683151/113447511-a5b20c80-9417-11eb-8d4b-932b451b5571.jpg)

[2021-04-02 20:39] akshay1027 commented on #149
I have made the changes @khushishikhu , this design is cleaner now. You can suggest any other background colour as well!

![2021-04-03 (1)](https://user-images.githubusercontent.com/65683151/113452388-7ef8d380-9421-11eb-8718-3d6e16a6d503.png)

[2021-04-02 20:46] akshay1027 opened #166 "UI of card can be improved in notes page"
**Describe the bug**
UI of the card can be improved in the notes page.

[2021-04-02 21:41] akshay1027 opened #167 "contact us in footer"
**Describe the bug**
improve footer UI

[2021-04-03 07:40] n-coder2k opened #170 "Hover Effect to Continue button in Log in Page"
I would like to add hover effect to continue button in login page.
I am gssoc participant , please assign me this issue.

[2021-04-03 07:43] n-coder2k opened #171 "Beautification of Gyane help page"
I would like to beautify the gynae help page by changing font color and type and removing extra spaces.
I am gssoc participant please assign me this issue.

[2021-04-03 09:27] #145 closed

[2021-04-03 09:44] khushishikhu commented on #148
@AakankshaKamal assigning this to you. happy coding!!

[2021-04-03 09:46] khushishikhu commented on #171
@n-coder2k assigning this to you. happy coding!!

[2021-04-03 09:49] #161 closed

[2021-04-03 09:49] khushishikhu commented on #165
@akshay1027 This issue has been resolved. So closing this issue

[2021-04-03 09:49] #165 closed

[2021-04-03 09:50] khushishikhu commented on #158
@AakankshaKamal I liked your idea. Thank you for coming with this issue. wanna work on this issue?

[2021-04-03 09:53] #39 closed

[2021-04-03 10:53] anushri20 commented on #118
@khushishikhu Hi, is this issue still open?

[2021-04-03 11:54] AakankshaKamal commented on #158
Yes I would like to work on this issue

[2021-04-03 12:13] khushishikhu commented on #158
@AakankshaKamal assigning this to you. Happy coding!!

[2021-04-03 12:40] akshay1027 commented on #167
Can i get an update on this? @khushishikhu

[2021-04-03 12:42] akshay1027 commented on #166
changes am thinking to make @khushishikhu ,
1) make the title different from content
2) add hover effect
3) improve card design

[2021-04-03 12:44] akshay1027 opened #172 "In quiz page, box can be a bit higher"
**Describe the bug**
In the quiz page, box/card can be a bit higher, so that UI will be clean! @khushishikhu

[2021-04-03 12:46] akshay1027 opened #173 "In home page, click to chat button design can be changed"
**Describe the bug**
In the home page, click to chat button design can be changed to make it look more professional.

[2021-04-03 12:50] akshay1027 opened #174 "title card UI in notes page can be improved"
**Describe the bug**
title card UI in notes page can be improved @khushishikhu

[2021-04-03 13:45] n-coder2k commented on #171
@khushishikhu I am not able to find html file . I am new to opensource please help to find that.

[2021-04-03 14:25] AakankshaKamal commented on #158
Thank You.I'll try my best to implement it. I would like to know where this feature would look better like on the home page or in the gynac help part?

[2021-04-03 14:26] Fpj-11 commented on #173
I am interested in front-end development. Kindly assign this issue to me.

[2021-04-03 14:27] khushishikhu commented on #171
@n-coder2k there is no html file in this repository. This project is built by Nextjs framework. You will find about this gyane files in pages folder and in components

[2021-04-03 14:42] Fpj-11 opened #175 "Hover effect of "tap here" button on the home page can be changed."
**Describe the bug**
 Hover effect of "tap here" button on the home page can be changed to make it look professional.

**Expected behavior**
It would look good if some glow effect is added on hover.

[2021-04-03 14:47] Fpj-11 commented on #175
Can I work on this issue?

[2021-04-03 14:58] Aaishpra commented on #167
U can add a contact us form instead of improving the ui, cuz we just got a new footer and i plan on keeping it.

[2021-04-03 15:05] khushishikhu commented on #158
@AakankshaKamal on the gynac part

[2021-04-03 15:07] khushishikhu commented on #174
@akshay1027 please describe whichever issue you are opening. Bcoz it would be difficult for another person to understand

[2021-04-03 15:08] khushishikhu commented on #173
@Fpj-11  well it's already changed but if you want to improve it more. Then assigning this to you. Happy Coding!!

[2021-04-03 15:11] khushishikhu commented on #166
@akshay1027 make all these changes in that PR which is already assigned to you. No need to create a new issue and PR for the same thing. Thank you for showing your interest. Keep contributing

[2021-04-03 15:12] akshay1027 commented on #173
i wanted to work on this @khushishikhu , hence created the issue and described the bug :)

[2021-04-03 15:14] akshay1027 commented on #174
sorry! i meant this title card @khushishikhu

![2021-04-03 (4)_LI](https://user-images.githubusercontent.com/65683151/113482654-44447900-94bd-11eb-9d50-7440ab07d505.jpg)

[2021-04-03 15:20] khushishikhu commented on #174
@akshay1027 okay as you are already assigned on a issue. so make it available for other participants too. and if you are done with your issue and want to work I will you on this

[2021-04-03 15:45] akshay1027 commented on #174
yes that issue is done! would love to work on this!

[2021-04-03 16:33] khushishikhu commented on #118
@anushri20 No, You can look for any other issue. Where no one is working.

[2021-04-03 23:17] akshay1027 commented on #167
Improvements we can add to Footer are @Aaishpra :
1)Find us with logo
2)Call us with logo
3)Mail us with logo
4)Website logo
5)What this website is about
6)Follow us
-Instagram link with logo
-LinkedIn link with logo
-Twitter link with logo
-etc
7)Useful links
-Home
-Services
-About Us
-Contact Us etc
8)Subscribe
-Email address
9)Copyrights
10) All the above with responsive UI

[2021-04-03 23:20] akshay1027 commented on #167
I would like to work on this! would be happy to see the current footer design as well, please share screenshot @Aaishpra

[2021-04-04 00:54] akshay1027 opened #177 "Links in the readme to open in a new tab"
## 📚 Documentation

Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

[2021-04-04 00:55] akshay1027 commented on #177
i would like to do this!

[2021-04-04 04:31] Aaishpra commented on #167
Check the deployed website, there the footer is available

[2021-04-04 04:33] DEEPALI-SUK opened #178 "Creating a Custom Scrollbar to the website"
## Is your feature request related to a problem? Please describe.
To make website more attractive and beautiful, I want to add a custom scrollbar. Giving a nice CSS to the scrollbar will enhance the UI of the website.

## Describe the solution you'd like
Giving a nice CSS to the scrollbar will enhance the UI of the website. I would like to work on this issue.

Kindly, assign me this issue as a par

[2021-04-04 04:35] Aaishpra commented on #167
About this we don't have a number dedicated to website currently hence no call us, no website currently for organisation,no Instagram, no Twitter,no YouTube for subscribing, we just have a LinkedIn page dedicated to organisation which is also not very active.
Please again checkout the footer and i suggest you can make a contact us form in footer instead of all this.

[2021-04-04 04:36] Aaishpra commented on #177
And what's the purpose opening links in a new tab from readme will serve, please elaborate the issue description more.
Thanks

[2021-04-04 04:39] #149 closed

[2021-04-04 05:13] n-coder2k commented on #171
@khushishikhu I am completely new to Nextjs framework , I wont be able to do this.

[2021-04-04 07:04] akshay1027 commented on #167
Ohh okay then! Sure , I will take up contact us issue! @Aaishpra

[2021-04-04 08:36] vanshika2906 commented on #178
Hi I am a GSSOC participant. Would like to work on this issue.Please assign it to me.

[2021-04-04 10:47] Aaishpra commented on #178
Since @DEEPALI-SUK opened this issue assigning this to her you can look for other issues @vanshika2906

[2021-04-04 12:06] akshay1027 commented on #177
I found out now that we can't do this on Github! here is the link to that: mojombo/github-flavored-markdown#28
so I will close this.

[2021-04-04 12:06] #177 closed

[2021-04-04 14:32] satavshreya commented on #26
@khushishikhu working on this now

[2021-04-04 14:36] #174 closed

[2021-04-05 06:26] #178 closed

[2021-04-05 17:47] vanshika2906 commented on #172
Hi. I would like to work on this issue. Please assign it to me @khushishikhu

[2021-04-05 18:13] vanshika2906 opened #182 "Changing Link In the Tab to a Name"
**Describe the bug**
While going to website it's showing the exact link. Want to change this link to a name like "Periodo App".
Please refer to highlighted part in the image.
![image](https://user-images.githubusercontent.com/65587816/113608694-852cc100-9668-11eb-8fe8-af86b8772092.png)

[2021-04-05 18:16] vanshika2906 commented on #182
I am GSSoC paricipant and want to work on this issue. Please assign this to me. Thankyou!

[2021-04-05 18:19] vanshika2906 commented on #78
Hi. Would love to work with @AakankshaShah on this issue @Aaishpra . Can you please this is to me also. Thankyou!

[2021-04-06 04:39] khushishikhu commented on #78
@vanshika2906 assigning this to you. Happy Coding!!

[2021-04-06 14:29] Aaishpra commented on #182
Go forward

[2021-04-06 17:35] #167 closed

[2021-04-06 22:35] akshay1027 opened #185 "Backend for contact us form"
**Describe the bug**
create the backend ( database, API endpoints etc) needed for contact us form!

**To Reproduce**
Steps to reproduce the behavior:
1. See error in the footer of homepage

[2021-04-06 22:40] akshay1027 commented on #185
i would work on this issue! @Aaishpra @khushishikhu please suggest what backend tech stack i can use, am comfortable with node js , express js and mongo db! would be happy to learn other tech stacks as well and solve this

[2021-04-07 10:15] janvi01 commented on #28
@khushishikhu I have made PR, please check

[2021-04-07 14:31] khushishikhu commented on #185
@akshay1027 If you really want to go forward in the backend issue please go with this tech stack only you are familiar with. And It is a humble request from both the maintainers that post your queries on the discord channel instead of reaching out us personally on linkedin. Thank you

[2021-04-07 14:32] khushishikhu commented on #170
@n-coder2k okay assigning this to you

[2021-04-07 14:36] #28 closed

[2021-04-08 09:01] Aaishpra commented on #173
just a suggestion can we use this for the chat button, I just mean using the chat button not anything else in the design.
https://codepen.io/Victoro08/pen/arYJPO

[2021-04-08 09:03] akshay1027 commented on #173
Sure I would like to this @Aaishpra

[2021-04-08 09:53] akshatvirmani opened #187 "To add contributor's name in README.md file."
## 📚 Documentation

To add contributor's name in README.md file.

[2021-04-08 09:53] akshatvirmani commented on #187
I would like to work on this issue. Kindly assign this to me.

[2021-04-08 12:21] #71 closed

[2021-04-08 13:42] n-coder2k commented on #170
@khushishikhu I am not familier with this framework i won't be able to do this.

[2021-04-08 15:40] Castella1313 opened #188 "About us Page fixation"
About us component is overlapping with the Navbar

![Screenshot 2021-04-08 at 9 09 02 PM](https://user-images.githubusercontent.com/53293156/114055899-c7dfda80-98ae-11eb-90e3-a5bdb5dae6f0.png)

[2021-04-08 15:41] Castella1313 commented on #188
@Aaishpra May I work on it?

[2021-04-09 03:47] khushishikhu commented on #188
@Castella1313 assigning this to you. happy Coding!!

[2021-04-09 05:59] satavshreya commented on #26
These are the css changes i made do tell me if you need some more changes:
![image](https://user-images.githubusercontent.com/61575173/114135314-b803dd00-9926-11eb-97d6-0a1612eb9db5.png)
![image](https://user-images.githubusercontent.com/61575173/114135344-c0f4ae80-9926-11eb-98ad-8b1a01131ad5.png)

[2021-04-09 06:02] Aaishpra commented on #26
Can you use the same font as navbar in those buttons?

[2021-04-09 06:06] satavshreya commented on #26
@Aaishpra yes sure i will again put the screenshots

[2021-04-09 06:12] satavshreya commented on #26
![image](https://user-images.githubusercontent.com/61575173/114136573-9146a600-9928-11eb-90ad-6c901de808e3.png)
is it okay now?

[2021-04-09 06:14] Aaishpra commented on #26
Better now, go forward with a PR.

[2021-04-09 19:54] hritikgupta92 opened #191 "Problem in AboutUs button"
**Describe the bug**
On clicking the About us button on NavBar,the component for how we help was coming up
thus cutting the buttons of NavBar,thus degrading the Quality of the site.

**Screenshots**

![image](https://user-images.githubusercontent.com/58954579/114232880-2d5cc580-999a-11eb-9b2d-453c6bb4c306.png)

[2021-04-10 01:36] #182 closed

[2021-04-10 06:24] AakankshaKamal commented on #148
![Screenshot 2021-04-10 115251](https://user-images.githubusercontent.com/58944717/114260570-5fe6dc80-99f3-11eb-906b-e868ae4e8b89.png)
I was thinking to modify the background of the page into something like this so that now it becomes more readable .Please do give your views so that I can modify accordingly.

[2021-04-10 07:46] nishihere19 commented on #191
Hi, I would like to work on this under GSSOC'21.

[2021-04-10 07:47] nishihere19 commented on #191
Oh, this is a duplicate of #188 . Kindly close the issue.

[2021-04-10 10:18] hritikgupta92 commented on #191
ok,thanks for informing

[2021-04-10 10:18] #191 closed

[2021-04-10 13:14] khushishikhu commented on #148
@AakankshaKamal on this particular page only? Because it should not change the background of other pages of have done the changes in home.css file

[2021-04-10 13:23] AakankshaKamal commented on #148
The change is only for this particular page only not the others.I haven't changed the global css

[2021-04-10 15:36] ishani02 opened #192 "Beautification of the tips page"
## Is your feature request related to a problem? Please describe.
There is no hover effect on cards in the tips page.

## Describe the solution you'd like
I would like to add hover effect on cards in the tips page. I believe this will enhance the look of the page. When somebody hovers over a card, it’s size will increase while other cards will remain unaffected. I can also change the color of the

[2021-04-10 15:37] ishani02 commented on #192
@khushishikhu I would like to work on this issue under GSSoC'21. Kindly assign this issue to me.

[2021-04-10 22:28] akshay1027 commented on #185
Sure! So I will use Mongo DB for this, later you configure a cluster for yourself..! @Aaishpra @khushishikhu

[2021-04-10 22:29] akshay1027 commented on #173
is anyone doing this? @Aaishpra @khushishikhu

[2021-04-10 22:30] akshay1027 commented on #171
i would like to work on this! @khushishikhu @Aaishpra

[2021-04-11 05:31] satavshreya commented on #104
@Aaishpra  @khushishikhu i am starting with this one I am planning to use Mongo db atlas

[2021-04-11 05:35] khushishikhu commented on #104
@khushishikhu okay go ahead, If you found any difficulty in anything ping us we will try to help you out

[2021-04-11 05:36] khushishikhu commented on #192
@ishani02 Thank you for opening this issue. Go ahead

[2021-04-11 05:39] khushishikhu commented on #148
@AakankshaKamal Then it's fine but I can see in the screenshot that it is not covering the whole form as it is shown in the issue description and

[2021-04-11 05:40] khushishikhu commented on #171
@akshay1027 assigning this to you. Happy coding!!

[2021-04-11 05:41] khushishikhu commented on #173
@akshay1027 assigning this to you. happy coding!!

[2021-04-11 05:46] khushishikhu commented on #173
@akshay1027 Sorry, but someone who was assigned has already made the PR and working on this. You can take any other issue and I have assigned you in one

[2021-04-11 05:48] khushishikhu commented on #185
@akshay1027 okay, you can and someone else is also working on the backend thing with MongoDB. Let's see if it will not create any crash

[2021-04-11 05:51] AakankshaKamal commented on #148
Yes I updated the project  and in the recent one the gynae form pattern was changed to this way so I made changes in the background to that only

[2021-04-11 06:02] #26 closed

[2021-04-11 06:25] satavshreya commented on #104
@khushishikhu @Aaishpra  Do we have a env.local.example file or similar file for db??? or i will have to create one i searched a lot in our app .Let me know about this

[2021-04-11 06:37] khushishikhu commented on #104
@satavshreya https://github.com/Feminine-Divine/periodo/blob/master/periodo/.env this the .env file in our project where the sensitive information is added like for the db

[2021-04-11 11:07] WaderManasi opened #194 "Enhance Tips card with images"
## Describe the solution you'd like
Tips card can be more attractive if we add images related to the tip (eg: Drink tea - we can add png image/logos describing it below its name)

## Additional context
Would like to work being part of gssoc

[2021-04-11 12:25] khushishikhu commented on #194
@WaderManasi Thank you for opening this issue. Assigning this to you 👍

[2021-04-11 15:26] shriya030 opened #195 "Change in footer and bottom scroll bar."
I think that the footer color where it is written Made with ❤ should have the same background color as above and also the footer text images should be center-aligned for it to look more appealing.
The horizontal scroll bar should be hidden as it is not looking good.

Can I work on this as a part of GSSOC'21?
![image](https://user-images.githubusercontent.com/56861600/114310317-150ab900-9b08-11eb-9

[2021-04-11 19:17] akshay1027 commented on #185
I will be using MVC architecture, hope the other contributor uses the same! Most people use this for the backend. (Model, Controller, Routes)

[2021-04-12 05:06] iamRishabh07 commented on #170
@khushishikhu I want to work on this issue can you assign me this issue.

[2021-04-12 05:40] satavshreya commented on #185
@akshay1027 I am the one who is  planning for backend we can discuss on this and then do the same Mongo DB atlas is what i am thinking of too Do let me know the further things

[2021-04-12 10:07] akshay1027 commented on #185
Great! Share me your backend folder structure, I will also follow the same to avoid future problems! Regarding database, mongodb is best, so we will fix that 🙌🏻!

[2021-04-12 10:12] raks924 commented on #195
Hey i am a GSSOC'21 participant. Iloved the project. Can I work on this issue?

[2021-04-12 10:13] raks924 commented on #170
I am a GSSOC'21 participant. Would love to work on this issue. kindly assign it to me?

[2021-04-12 10:15] raks924 commented on #144
We can add  a discussion forum like Reddit app. And girls can have a chit chat.

[2021-04-12 10:34] shriya030 commented on #195
Please assign me this issue as a part of GSSOC'21

[2021-04-12 17:48] ankit-kmar opened #197 "Addition of contributor section in readme (Automatically)"
## Proposal
I would like to add a feature, this will show the contributors in readme section at the end. This will also update contributor list in read me automatically !!

## Additional context

Kindly assign me this with a gssoc21 label and level tag

[2021-04-12 20:06] #166 closed

[2021-04-12 23:15] akshay1027 opened #199 "Improve UI in "/flow" page"
## Is your feature request related to a problem? Please describe.
The cards can be improved in the "/flow" page!

Additional Context:
this is the page am referring to:

![2021-04-13 (5)](https://user-images.githubusercontent.com/65683151/114473963-df062b80-9c12-11eb-9af3-02affbb0298a.png)

[2021-04-12 23:16] akshay1027 commented on #199
I would like to work on this  @khushishikhu @Aaishpra

[2021-04-13 06:11] khushishikhu commented on #199
@akshay1027 go ahead. Assigning this to you

[2021-04-13 06:12] #192 closed

[2021-04-13 06:15] #173 closed

[2021-04-13 06:17] #153 closed

[2021-04-13 06:20] khushishikhu commented on #170
@iamRishabh07 assigning this to you. Happy Coding!!

[2021-04-13 06:23] khushishikhu commented on #148
@AakankshaKamal okay got it. You can move forward to make a PR. can you add the gradient effect with some light colours in the background? It will look more good

[2021-04-13 06:25] khushishikhu commented on #144
@sakshi-s if you are not interested , please tell us. So that I can assign this issue to @raks924

[2021-04-13 06:46] anhushree opened #200 "Home Page Navbar Alignment"
## Is your feature request related to a problem? Please describe.
The content in the  Header section-Navbar is centralized. which is not visually pleasing. Hence the alignment of the elements can be adjusted

## Describe the solution you'd like
The Home button can be placed on the leftmost side, while the rest can be placed on the rightmost side following this order-About Us, Notes, Tips, GynacHel

[2021-04-13 10:27] satavshreya commented on #69
@Aaishpra @khushishikhu  I am ready to  work on this!

[2021-04-13 10:31] satavshreya commented on #12
@khushishikhu @Aaishpra ready to work on this Anytime :)

[2021-04-13 10:33] Aaishpra commented on #69
@Shwetang550 are you working here?

[2021-04-13 12:31] AakankshaKamal commented on #148
@khushishikhu  Ok I'll implement it.

[2021-04-13 13:13] AakankshaKamal commented on #148
![Screenshot 2021-04-13 184156](https://user-images.githubusercontent.com/58944717/114558172-09460080-9c88-11eb-876e-a43b2e8339a1.png)
![Screenshot 2021-04-13 184224](https://user-images.githubusercontent.com/58944717/114558177-0b0fc400-9c88-11eb-89b7-7b5f3e8d698f.png)
Please do have a look.

[2021-04-13 16:22] satavshreya commented on #69
Do let me know @Aaishpra

[2021-04-13 16:27] Aaishpra commented on #69
Sorry i guess i tagged wrong person @RituCs are you working here or we can assign this to @satavshreya

[2021-04-14 06:02] satavshreya commented on #83
@Aaishpra @khushishikhu is it pending? If yes i am willing to work on it :)

[2021-04-14 06:02] satavshreya commented on #69
Do let me know @Aaishpra

[2021-04-14 06:09] satavshreya opened #202 "Enhance and modify "Do you want to share your period experience?" prompt"
I think it can be modified more attractively because I think the current one is fine but not creating a good view Tell me how do you feel  else I am ready to modify :) @Aaishpra @khushishikhu
![image](https://user-images.githubusercontent.com/61575173/114662323-1dd0da00-9d16-11eb-8c54-31e49d705688.png)

[2021-04-14 08:06] khushishikhu commented on #148
@AakankshaKamal I really liked this one.

[2021-04-14 08:07] SnehaVeerakumar commented on #12
I would like to work on this issue.
If assigned, 2 days of time is required to complete this issue

[2021-04-14 08:53] #171 closed

[2021-04-14 09:06] Aaishpra commented on #12
Hi @SnehaVeerakumar  thanks for taking interest in this issue, Although I don't need you to complete the work in just 2 days(take as much time as you want) but can you follow the above design for creating the login Page? I will assign you here do ask me if you face any doubts while working here.

[2021-04-14 09:07] Aaishpra commented on #12
@satavshreya i will assign you to a different issue

[2021-04-14 09:08] SnehaVeerakumar commented on #12
@Aaishpra Yeah sure I will follow the above mentioned design. Thank you for assigning !

[2021-04-14 09:08] Aaishpra commented on #202
Do share the design after you are done @satavshreya assigning you here

[2021-04-14 09:10] Aaishpra commented on #69
Go for it @satavshreya 🙌🏻

[2021-04-14 11:49] satavshreya commented on #202
BEFORE hovering it looks like:
![image](https://user-images.githubusercontent.com/61575173/114705445-5f2cae00-9d45-11eb-8b93-d81dd658f85b.png)

AFTER hovering it looks like:
![image](https://user-images.githubusercontent.com/61575173/114705462-63f16200-9d45-11eb-9fbe-5c50da09071e.png)

@Aaishpra @khushishikhu let me know if any changes :)

[2021-04-14 11:52] AakankshaKamal commented on #148
Thank You @khushishikhu .Kindly look into my PR.Thanks.

[2021-04-14 11:53] Aaishpra commented on #202
Make the after and before opposite, means the button should be lighter before hovering and vice versa। Change the button colour after hovering to the earlier used colour. Current colour looks a bit too dark for the website

[2021-04-14 12:42] satavshreya commented on #202
okay So check this out:
![image](https://user-images.githubusercontent.com/61575173/114711673-de71b000-9d4c-11eb-9a72-2aa1549e244f.png)
![image](https://user-images.githubusercontent.com/61575173/114711715-e9c4db80-9d4c-11eb-8103-346493720b86.png)

[2021-04-14 13:46] Aaishpra commented on #202
Yupp, go with the PR now

[2021-04-15 10:54] #188 closed

[2021-04-16 14:24] Vaishnavi798 commented on #154
Can I work on this issue?

[2021-04-16 15:04] Vaishnavi798 opened #205 "Highlight the current page/active section in the navigation bar"
## Is your feature request related to a problem? Please describe.

Highlighting the current page in our navigation to denote which page we’re currently viewing.
## Describe the solution you'd like

 I want to add styling to highlight the current page on which we are, in the navigation bar.
## Additional context

[2021-04-16 15:07] Vaishnavi798 commented on #205
I would like to work on this @khushishikhu @Aaishpra

[2021-04-16 15:38] Aaishpra commented on #205
Do share the design in the comments before making a PR

[2021-04-16 16:32] satavshreya commented on #118
@khushishikhu @Aaishpra  is this issue open? I can work on this :)

[2021-04-16 16:35] Aaishpra commented on #118
@anushri20 are u still interested in the issue or we can assign the next person

[2021-04-17 03:00] khushishikhu commented on #144
@raks924 assigning this to you. Happy Coding!!

[2021-04-17 04:26] satavshreya commented on #118
@Aaishpra @khushishikhu let me know abt this

[2021-04-17 05:20] khushishikhu commented on #118
@satavshreya someone has already made a PR for this

[2021-04-17 05:30] anhushree commented on #200
@akshitakanojia Could you please assign me this task? I would like to work on improving the UX of this layout in the navbar

[2021-04-17 06:10] khushishikhu commented on #200
@anhushree assigning this to you

[2021-04-17 07:51] WaderManasi commented on #194
Hey @khushishikhu,
 just check once..so that I can create PR

![show](https://user-images.githubusercontent.com/52437677/115105990-c2a22000-9f7f-11eb-9fcf-9ad485a483f5.PNG)

[2021-04-17 11:54] #202 closed

[2021-04-17 14:31] Aaishpra commented on #205
@Vaishnavi798 I have assigned you here, do update me with your progress.

[2021-04-17 14:34] Aaishpra commented on #197
Sorry @ankit-kmar we are not in need of this feature for our project currently, as this will make the readme very populated which I don't want

[2021-04-17 14:48] #20 closed

[2021-04-17 17:00] A-HK commented on #22
Hey @khushishikhu @Aaishpra , thanks a ton for your patience!
I'm nearly done!
Please feel free to suggest any changes you would like.

![quiz_1](https://user-images.githubusercontent.com/73497800/115120572-cc517500-9fcb-11eb-9841-972cc875e3c5.png)
![quiz_2](https://user-images.githubusercontent.com/73497800/115120575-cf4c6580-9fcb-11eb-90d1-7ae57a5f2b11.png)
![quiz_3](https://user-images.githubus

[2021-04-17 17:05] khushishikhu commented on #22
@A-HK please go forward to make a PR

[2021-04-17 17:56] ankit-kmar commented on #197
okay ma'am!! no issue. But actually I was thinking that instead of the last part where it's mentioned that this repo is a part of GSSoC, if there would be the contributor section, it would look great and more better (personal opinion). But if you don't want it, then you can close the issue :)

[2021-04-17 18:19] khushishikhu commented on #197
@ankit-kmar we respect your opinion but currently, we don't want it. Please feel free to open some other kind of issue for improvement of this project.

[2021-04-17 18:19] #197 closed

[2021-04-17 19:19] akshitakanojia commented on #89
@khushishikhu if this issue is open can I work on it?

[2021-04-17 20:08] A-HK commented on #67
Hey @khushishikhu @Aaishpra ,if nobody else is currently interested, can I work on implementing this next?

[2021-04-18 02:33] Aaishpra commented on #67
@ritesh1731 any updates on this

[2021-04-18 06:53] anhushree commented on #200
Thank You so much will start working on it.

[2021-04-18 08:24] satavshreya commented on #69
@Aaishpra @khushishikhu  I have a Question that which is the file that has been imported in every page because i want to add the darkmode and then just it has to be imported else i will have to make a new one :) Do let me know asap

[2021-04-18 10:25] #194 closed

[2021-04-19 07:09] A-HK commented on #67
@khushishikhu @Aaishpra , would love to know if I can go ahead with this.

[2021-04-19 07:15] Aaishpra commented on #67
@A-HK assigned you here.

[2021-04-19 07:20] A-HK commented on #67
Should I follow the above design or make my own?

[2021-04-19 07:44] Aaishpra commented on #67
I like the design presented here, so if you can follow that it would be great! But feel free to change anything according to your choice.

[2021-04-19 08:09] Aaishpra commented on #69
@khushishikhu can tell you that😅

[2021-04-19 11:12] khushishikhu commented on #69
@satavshreya [This](https://github.com/Feminine-Divine/periodo/blob/master/periodo/styles/globals.css) is the file that is to be seen on every page and the background is from global.css file that is why we see the same background on every page

[2021-04-19 13:50] satavshreya commented on #69
@khushishikhu where should i write js code then?

[2021-04-19 14:51] gnikita432 opened #211 "Responsive website"
**Describe the bug**

The home page is not responsive for mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/61223163/115256258-b0c1a800-a14c-11eb-9f77-d6d525001f52.png)

**Desktop (please complete the following information)

[2021-04-19 15:14] Mukta-Sawant commented on #117
@khushishikhu I would like to work on this as a part of GSSOC'21. Please assign it to me.

[2021-04-19 16:21] satavshreya commented on #185
@akshay1027  you started with this?

[2021-04-19 16:25] akshay1027 commented on #185
No am currently having end sem exams, wasn't able to do much. Thinking of starting today, just seeing about firebase.. have you started ?

[2021-04-19 16:37] satavshreya commented on #185
we can go forward with firebase too what to you think
LGTM

[2021-04-20 08:48] KajalSinghBAGHEL opened #214 "Update README.md by removing grammatical mistake"
Improved grammatical mistakes in the readme file.

[2021-04-21 04:04] Aaishpra commented on #211
Thanks for the issue @gnikita432 assigning you here.
Happy coding

[2021-04-21 04:17] gnikita432 commented on #211
Thanks for assigning the issue.

[2021-04-21 08:13] K-Kumar-01 opened #215 "Updating the Contributing guidelines"
## 📚 Documentation

The contributing guidelines can be updated to improve the commit message qualities. These will ensure better readability and understandability of the changes made in the commit.

### Would you like to work on this?
Yes

[2021-04-21 08:37] khushishikhu commented on #215
@K-Kumar-01 Thank you for opening this issue. Assigning you to this

[2021-04-21 09:09] khushishikhu commented on #214
@KajalSinghBAGHEL Thank you for opening the issue. Assigning this to you. Happy coding!!

[2021-04-21 09:34] khushishikhu commented on #118
@satavshreya are you interested working on this

[2021-04-21 09:38] satavshreya commented on #118
@khushishikhu yes ofcourse.The database  is taking time and Darkmode where do i write js code and they will be done .I am intereted for this one Do assign me

[2021-04-21 09:46] satavshreya commented on #69
@khushishikhu  please let me know which file to write because i have got the css file but not js :)

[2021-04-21 16:24] Aaishpra opened #219 "Design a logo for Feminine-Divine"
## Is your feature request related to a problem? Please describe.

Design a logo for feminine divine
## Describe the solution you'd like

Two logos required on for smaller screen one for full size
## Additional context

Please show your designs in the comments and add them to assets folder after they get approved

[2021-04-21 16:27] Aaishpra opened #220 "Add prettier for code formatting"
Add prettier so code should be formatted
More info: https://prettier.io/docs/en/install.html

[2021-04-21 16:50] gnikita432 commented on #220
Hey, I would like to work on this issue.

[2021-04-22 03:37] Aaishpra commented on #220
Go for it

[2021-04-22 05:39] satavshreya commented on #219
@Aaishpra can i work on this please???

[2021-04-22 05:49] khushishikhu commented on #69
@satavshreya  there isn't any js file for the background that is designed because changes were made globally in css file. Maybe if you have any other idea to implement please share with us

[2021-04-22 05:56] satavshreya commented on #69
@khushishikhu  actually for dark mode in every page there is a js code too that has to be implemented Now what i am thinking is  to create a new file just for dark mode but then you will have to import it on every page will that be okay???? And also in the dark mode the background will be changed because the background that we have is just a picture right so a dark picture having relevant backgrou

[2021-04-22 06:30] Aaishpra commented on #219
Ya sure @satavshreya assigned you here

[2021-04-22 09:41] K-Kumar-01 commented on #185
@satavshreya @akshay1027 @khushishikhu
I don't know if the work is still going on but do we need a backend.
One can create contact forms without backend as mentioned [here](https://stackoverflow.com/questions/9151525/create-contact-form-without-backend).

[2021-04-22 09:49] KajalSinghBAGHEL commented on #214
please check my pull request

[2021-04-22 10:04] #200 closed

[2021-04-22 10:12] khushishikhu commented on #69
@satavshreya I have got what you are trying to say. kindly refer to this article as well https://www.carlrippon.com/implementing-dark-mode-in-a-react-app-with-css-properties/

[2021-04-22 10:17] KajalSinghBAGHEL commented on #215
I am girlscript participate may i work on this issue

[2021-04-22 10:31] K-Kumar-01 commented on #215
@KajalSinghBAGHEL
I have completed the work actuallly and am about to make a PR.

[2021-04-22 10:40] K-Kumar-01 opened #223 "Setting up ESLint in the project"
## Is your feature request related to a problem? Please describe.

As the project grows bigger, it is important that the code is linted properly to ensure the consistency and quality of the code
To achieve this, we should set up ESLint in the project.

[2021-04-22 11:45] akshay1027 commented on #185
@K-Kumar-01 willl this work in material UI ? if so then its more than enough!

[2021-04-22 12:37] K-Kumar-01 commented on #185
@akshay1027
I haven't tried it with material UI. I think it can be given a try as I am not sure about it for material UI.

[2021-04-22 14:42] Aaishpra commented on #185
Well i found something https://medium.com/weekly-webtips/simple-react-contact-form-without-back-end-9fa06eff52d9
Can you see if this works @aksh

[2021-04-22 15:06] akshay1027 commented on #185
Awesome, will try it out 🙌🏻 always happy to implement new tech!

[2021-04-23 08:03] anhushree commented on #200
@khushishikhu can u please assign the labels and level? I'm a GSSoC'21 participant. Apparently, those with labels and levels are only counted. Mine has not been done during the PR merge, kindly check and help me out.

[2021-04-23 09:01] satavshreya commented on #118
![image](https://user-images.githubusercontent.com/61575173/115847070-2fb22b80-a440-11eb-9a08-7d490f9f2906.png)
![image](https://user-images.githubusercontent.com/61575173/115847252-66884180-a440-11eb-940b-b81f797d0fa3.png)
![image](https://user-images.githubusercontent.com/61575173/115847301-730c9a00-a440-11eb-81c4-3bb76b2e1b08.png)
@khushishikhu @Aaishpra these pictures i have selected if any ch

[2021-04-23 09:05] khushishikhu commented on #118
@satavshreya can you write different quotes or statements in every slide

[2021-04-23 09:21] satavshreya commented on #118
@khushishikhu yes chalega ! just confirm me about the slider height its fine right?

[2021-04-23 09:23] satavshreya commented on #219
![image](https://user-images.githubusercontent.com/61575173/115850576-a270d600-a443-11eb-8275-5bc39a35efc9.png)
i came up with this

[2021-04-23 09:27] satavshreya commented on #219
@Aaishpra @khushishikhu once just let me know what all should i put in logo so that i can some up with 4-5 designs :)

[2021-04-23 09:34] khushishikhu commented on #118
@satavshreya can you show me how does the whole page looks like after scrolling down as well

[2021-04-23 09:42] #215 closed

[2021-04-23 09:52] satavshreya commented on #118
![image](https://user-images.githubusercontent.com/61575173/115854094-88d18d80-a447-11eb-8b54-f5ed77132c84.png)
@khushishikhu

[2021-04-23 09:56] khushishikhu commented on #118
@satavshreya great. Please move forward to make a PR

[2021-04-23 13:26] akshay1027 commented on #185
This doesnot seem to work @Aaishpra, i don't know if am missing something, can you check my code? i will text you in discord

[2021-04-23 19:13] akshay1027 opened #229 "New footer design, feature request!"
## Is your feature request related to a problem? Please describe.
The footer can be improved.

take a look at this:

When hovered over icon!

![2021-04-19 (1)](https://user-images.githubusercontent.com/65683151/115919023-e7255d00-a495-11eb-98f9-34c6c73c40da.png)

![2021-04-19](https://user-images.githubusercontent.com/65683151/115919030-e8ef2080-a495-11eb-8bfb-dedf5e146f01.png)

[2021-04-23 19:14] akshay1027 commented on #229
I made this recently! Would love to do the same for periodo website as well! Let me @Aaishpra @khushishikhu. Thank you

[2021-04-23 19:23] khushishikhu commented on #229
@akshay1027 we would love it if you can implement this feature to Periodo as well😍

[2021-04-24 05:36] Aaishpra commented on #219
@satavshreya this is a logo for periodo, i need one for the organization,
basically, I am looking for something which signifies the power of femininity may be an illustration of women something like that for a smaller screen, and the illustration and organization name for a bigger screen logo.

[2021-04-24 05:39] satavshreya commented on #219
@Aaishpra  yes i got your point! I will make one and paste here :)

[2021-04-24 06:05] satavshreya commented on #219
![Feminine Divine](https://user-images.githubusercontent.com/61575173/115949212-19b07380-a4f1-11eb-9dc2-3116ec4810d5.png)

[2021-04-24 06:18] satavshreya commented on #219
![Feminine Divine (1)](https://user-images.githubusercontent.com/61575173/115949473-07373980-a4f3-11eb-8c53-a8f4fdac7c00.png)

[2021-04-24 09:07] Aaishpra commented on #219
2nd one feels better to me, let's ask @khushishikhu

[2021-04-24 09:15] khushishikhu commented on #219
I feel the same. Please approve this @Aaishpra

[2021-04-24 11:19] #22 closed

[2021-04-24 11:20] #211 closed

[2021-04-24 11:44] akshay1027 opened #231 "Bug in navbar"
**Describe the bug**
The distance between Gyanchelp and the about us link is pretty big compared with other links in the navbar. I don't know if we can resolve this, but would like to work on this! @khushishikhu @Aaishpra

![2021-04-24 (2)](https://user-images.githubusercontent.com/65683151/115957421-fc46ce00-a51f-11eb-9fb2-e3537bd33e72.png)

**Desktop (please complete the following information):*

[2021-04-24 11:53] akshay1027 opened #232 "Add contributors list in website, Feature request!"
## Is your feature request related to a problem? Please describe.
 Since this is an open-source project, it would be great the add a contributors list to our website. Would love to do this. we can do this in the home page or about us page IMO. Thank you and let me know @khushishikhu @Aaishpra.

[2021-04-24 11:54] #229 closed

[2021-04-24 13:48] Aaishpra commented on #232
Sorry @akshay1027 I am not in favour for implementing this feature as this will make the website look bulky.
Although i do understand your point, but it's just not in my preference to add something related to the project developers in the website, that's why u will never see even my name and Khushi's name in the readme and website.

[2021-04-24 13:50] akshay1027 commented on #232
Cool!

[2021-04-24 13:57] #232 closed

[2021-04-24 14:20] akshay1027 opened #233 "Change mail Id in footer"
Please give mail id of feminine divine @Aaishpra @khushishikhu

[2021-04-24 14:39] Aaishpra commented on #233
femininedivine591@gmail.com

[2021-04-24 15:04] gnikita432 opened #235 "horizontal scroll bar"
**Describe the bug**

Their is unwanted horizontal scroll bar on the website which can be removed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: windows
 - Browser: chrome
 - Version [e.g. 22]

**Smartphone (please comp

[2021-04-24 16:00] #233 closed

[2021-04-25 05:47] khushishikhu commented on #231
@akshay1027 I don't think it is a bug. The page fine

[2021-04-25 05:47] #235 closed

[2021-04-25 05:52] akshay1027 commented on #231
Cool, if it's fine then no problem or else I would be happy to change it

[2021-04-26 06:15] subhangi2731 commented on #104
please assign me this

[2021-04-26 06:17] subhangi2731 commented on #187
please assign me this

[2021-04-26 06:17] satavshreya commented on #104
@subhangi2731  already working on it :)

[2021-04-26 06:20] subhangi2731 commented on #223
please assign me this

[2021-04-26 09:32] SandeepKrSuman opened #236 "bug: Next button on calendar page"
**Describe the bug**

Currently the 'Next' button is displayed beside the calendar even there is no date selected. The problem here is on clicking the next button it takes to the rating page even there is no dates selected.

![periodoissue](https://user-images.githubusercontent.com/54541515/116060504-92553280-a69f-11eb-9ae5-41fd8a714eaa.gif)

**Propose a Solution**
- The next button should appear

[2021-04-26 09:34] khushishikhu commented on #236
@SandeepKrSuman  Thank you for opening this issue. Assigning this to you

[2021-04-26 09:35] SandeepKrSuman commented on #236
Thanks @khushishikhu I'm working on this.

[2021-04-26 10:38] #187 closed

[2021-04-26 16:06] khushishikhu opened #237 "Add footer to all the pages"
## Is your feature request related to a problem? Please describe.

Add the footer similar to the homepage(just don't add the contact form in that footer) to all other pages of the website too

## Additional context

[2021-04-26 16:12] Aaishpra commented on #223
Assigned

[2021-04-26 16:13] #195 closed

[2021-04-26 16:29] akshitakanojia commented on #237
@khushishikhu can I work on this issue?

[2021-04-26 16:31] Aaishpra commented on #223
Related to #220

[2021-04-26 16:37] Aaishpra commented on #219
@satavshreya please send a PR for the second logo

[2021-04-26 16:57] #214 closed

[2021-04-26 18:54] akshay1027 opened #240 "Improve UI of contact us form!"
## Is your feature request related to a problem? Please describe.
The colour of the contact us form can be changed to something that matches the existing UI. The present colour matches the old footer but now it seems irrelevant! Also would like to add box shadows etc to make clean UI

[2021-04-26 18:54] akshay1027 commented on #240
would love to work on this @khushishikhu @Aaishpra

[2021-04-26 18:57] akshay1027 opened #241 "The toggle bar in mobile UI is not aligned"
## Is your feature request related to a problem? Please describe.
The toggle bar in mobile UI is not aligned properly. Would like to fix that!

screenshot:

![2021-04-13 (2)](https://user-images.githubusercontent.com/65683151/116135842-3a461c80-a6ef-11eb-9060-b9618c9b2733.png)

[2021-04-26 18:57] akshay1027 commented on #241
@Aaishpra @khushishikhu

[2021-04-26 18:57] #231 closed

[2021-04-27 10:01] srishtij2000 commented on #237
Can I work on this issue?

[2021-04-27 10:05] #236 closed

[2021-04-27 10:13] K-Kumar-01 commented on #240
@akshay1027
In my opinion, we should first complete #185 and then move on to this one.

[2021-04-27 11:07] khushishikhu commented on #241
@akshay1027 go ahead

[2021-04-27 11:08] khushishikhu commented on #237
@akshitakanojia assigning this to you

[2021-04-27 11:13] khushishikhu opened #242 "make the webpage responsive"
**Describe the bug**

Fix the unusual display of homepage for this dimension

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Homepage'
2. Click on the 'toggle button'
3. See error

**Expected behavior**

**Screenshots**

![WhatsApp Image 2021-04-27 at 16 36 21](https://user-images.githubusercontent.com/65439761/116232095-4c6b9d80-a777-11eb-97ff-4399272e1a82.jpeg)

**Smartphone (please

[2021-04-27 11:15] khushishikhu opened #243 "fix the bug"
**Describe the bug**

Make the page responsive

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Quiz'
2. See error

**Expected behavior**

**Screenshots**

![WhatsApp Image 2021-04-27 at 16 36 18](https://user-images.githubusercontent.com/65439761/116232463-ca2fa900-a777-11eb-93dc-0829c252c126.jpeg)

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]

[2021-04-27 11:40] akshitakanojia commented on #242
@khushishikhu I would like to work on this issue

[2021-04-27 15:15] akshay1027 commented on #240
Sure @k-kumar-01, the backend works for me, I have tested and provided the screenshots, you have tested it as well? Any problems we are facing? if yes let me know, so that we can finish it and move on to next issues 🙌🏻

[2021-04-28 11:37] janvi01 commented on #89
can I work on this? @khushishikhu if this issue is still open

[2021-04-28 15:20] #78 closed

[2021-04-28 15:23] #242 closed

[2021-04-28 15:24] #219 closed

[2021-04-28 18:11] AshuKV commented on #243
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-28 20:01] K-Kumar-01 commented on #240
@akshay1027
Sorry I wasn't able to test. Been a bit busy these days. I Will review it ASAP and let you know

[2021-04-28 20:57] akshay1027 commented on #240
I have sent the video from where I learnt it, check it out to know the working of code

[2021-04-29 17:18] RuchiGitHu opened #246 "The content of navbar is in upper side of icon"
## Is your feature request related to a problem? Please describe.
The content of navbar is flying above to icon of that. Also the buttons of navbar looks so congested.

## Describe the solution you'd like
I want to put some space there and aligned in structural manner.

![image](https://user-images.githubusercontent.com/71754179/116591560-9487ed00-a93c-11eb-84d1-fa3bed9dc501.png)

[2021-04-29 17:23] RuchiGitHu opened #247 "Talk with us form background"
## Is your feature request related to a problem? Please describe.
Like landing page, the background and images gives good user experience. Like that I want to put some creativity in Talk with us form. So, that it can look similar like landing page of website...

## Describe the solution you'd like
I can put some creativity that will surely match the theme of website. And look pretty good and creat

[2021-04-30 09:33] khushishikhu commented on #246
@RuchiGitHu  assigned

[2021-04-30 09:36] khushishikhu commented on #243
@AshuKV assigned

[2021-04-30 12:03] K-Kumar-01 opened #248 "Integrating Pre-commit hook"
## Is your feature request related to a problem? Please describe.

A pre-commit hook should be integrated into the project which will automatically lint and format the code when committing to prevent push bad code into the codebase.

## Describe the solution you'd like

One can use husky, pre-commit, or any other package for the purpose. Using the git hooks can also be considered.
If there is any

[2021-04-30 12:36] #237 closed

[2021-04-30 12:38] K-Kumar-01 opened #249 "Common Layout"
## Is your feature request related to a problem? Please describe.

Navbar and footer are currently used in many pages. So instead of importing them in all pages separately. there should be a layout in which these are imported and the layout page is imported in individual pages then.

## Describe the solution you'd like

Create a custom Layout component that imports header and footer and renders ch

[2021-04-30 12:41] K-Kumar-01 commented on #247
@RuchiGitHu Can you share some samples regarding the same?

[2021-04-30 14:02] shubhdeep123 opened #250 "Z-index of navbar is not appropriate"
**Describe the bug**
z-index value of navbar is very less because of which it get behind while scrolling in tips section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'periodo App'
2. Click on 'tips'
3. Scroll down to see bug

**Expected behavior**
z-index value of navbar should be more to be always on the top of the page.

**Screenshots**
![Screenshot from 2021-04-30 19-21-52](http

[2021-04-30 14:04] shubhdeep123 commented on #250
@khushishikhu  @Aaishpra  i would like to work on this issue

[2021-04-30 17:19] vanshika2906 commented on #249
Kindly assign this to me! Thankyou!

[2021-04-30 18:15] akshay1027 opened #254 "Problem in Gynac page"
**Describe the bug**

 problem in mobile UI in Gynac page

screenshots:

![2021-04-30 (9)](https://user-images.githubusercontent.com/65683151/116736814-0419dd00-aa0e-11eb-83f6-5bb4ebc4b172.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [e.g

[2021-04-30 18:15] akshay1027 commented on #254
I would like to work on this @K-Kumar-01 @khushishikhu @Aaishpra

[2021-05-01 07:49] RuchiGitHu commented on #247
![IMG_20210501_131718](https://user-images.githubusercontent.com/71754179/116775247-a4f4b080-aa7f-11eb-9947-e3d115ed9a5a.jpg)
It's an contact us form in a image, but a rough idea about background for a form.

[2021-05-01 16:47] #250 closed

[2021-05-01 21:25] akshay1027 opened #255 "responsiveness in flow page!"
**Describe the bug**
as we discussed for the medium screen. Am making the PR @K-Kumar-01

[2021-05-02 10:02] gnikita432 opened #258 "Bug in calander page"
**Describe the bug**

In mobile view the reset and next button is not responsive(they are too big and taking a lot of space).
Also the initials of day (su,mo...) have very light color so it does not have proper visibility.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

![image](http

[2021-05-02 10:08] K-Kumar-01 commented on #255
@akshay1027 Instead of opening another issue, please make sure that the existing ones are closed. Also, provide the appropriate description, not the above-mentioned.

[2021-05-02 10:08] K-Kumar-01 commented on #255
Related to #253

[2021-05-02 12:03] RuchiGitHu opened #260 "The content of footer"
## Is your feature request related to a problem? Please describe.
The content of footer is aligned in center of screen, it should in bottom of the screen, so that anyone can understand that this is footer, also the background color of form and footer is same. That is why, it's difficult to assume that form is not a part of footer.

## Describe the solution you'd like
I want to push content in bott

[2021-05-02 13:22] subhangi2731 commented on #223
@Aaishpra I am working on this. I will make a pr by today surely

[2021-05-02 13:30] subhangi2731 commented on #175
please assign me this issue

[2021-05-02 15:54] K-Kumar-01 commented on #223
@subhangi2731
A PR regarding this has already been made. So it would be better if you choose any other issue to solve.

[2021-05-02 16:09] Aaishpra commented on #223
Hi @subhangi2731 Sorry for the inconvenience the issue got solved by a different PR already, but don't worry i will open a new issue by tomorrow and assign that to you.🤗

[2021-05-02 16:29] subhangi2731 commented on #223
I was working on this since many days. Still thank you @Aaishpra for understanding. sure please assign me on a different issue tomorrow

[2021-05-02 20:32] K-Kumar-01 commented on #260
@RuchiGitHu
A screenshot depicting the same would be better to understand.

[2021-05-02 20:37] #255 closed

[2021-05-02 20:40] #199 closed

[2021-05-03 01:51] RuchiGitHu commented on #260
I didn't understand what you want to say. Apologies for this....

[2021-05-03 02:43] #121 closed

[2021-05-03 02:44] Sukriti-sood commented on #248
I would like to work on this.

[2021-05-03 06:49] Aaishpra opened #261 "Change the navbar into sidebar or navigation drawer"
## Is your feature request related to a problem? Please describe.

The current navbar is bulky and not very geat looking
## Describe the solution you'd like

Change the navbar into a sidebar or more commonly navigation drawer.
## Additional context

Use material-UI for styling
Checkout:
https://material-ui.com/components/drawers/
https://stackoverflow.com/questions/39865799/making-sidebar-with-mat

[2021-05-03 06:51] Aaishpra commented on #261
@subhangi2731 will you be able to work here, if yes please comment here, I will assign this issue to you.
Thanks

[2021-05-03 06:53] Aaishpra commented on #258
@gnikita432 go for it.

[2021-05-03 06:57] Aaishpra commented on #260
Hi, @RuchiGitHu @K-Kumar-01 means can you provide any screenshot or any image of the implementation you talked about in the issue

(this part) from any working website so that it will be easier for us to understand this issue.

[2021-05-03 07:05] gnikita432 commented on #261
I would like to work on this issue.

[2021-05-03 07:21] subhangi2731 commented on #261
@Aaishpra thank you so much for creating an issue for me. Yes I will work on this issue. please assign it to me.

[2021-05-03 07:24] subhangi2731 commented on #261
@gnikita432 u already made a pr on my issue in which I was assigned so thatswhy this issue she has created for me to be assigned.

[2021-05-03 07:30] Aaishpra commented on #261
Great @subhangi2731 and no need to thank, it's contributors like you who are patient makes my work easier.
Happy coding
ping me if you face any doubts about working here.

[2021-05-03 07:30] gnikita432 commented on #261
@subhangi2731 Ohh I didn't know My apologies. All the best.

[2021-05-03 07:48] subhangi2731 commented on #261
@Aaishpra so kind of you. sure I will ping you if I have any doubts and I will raise a pr by tomorrow.

[2021-05-03 07:49] subhangi2731 commented on #261
@gnikita432 its okay. Thank you and same to you

[2021-05-03 09:27] #220 closed

[2021-05-03 09:27] #223 closed

[2021-05-03 09:29] K-Kumar-01 commented on #248
@Sukriti-sood
Assigned you

[2021-05-03 13:35] Shivangi-ch opened #262 "Talk with us form UI enhancement."
## Is your feature request related to a problem? Please describe.
No.

## Describe the solution you'd like
I would like to make the UI of the talk with us section and will make it more user friendly.

## Additional context
I am  a GSSOC participant.
PLease assign me this issue.

[2021-05-03 13:58] Shivangi-ch opened #263 "Add floating animation in the svg(image) of the cards used in the about us section."
## Is your feature request related to a problem? Please describe.
No.

## Describe the solution you'd like
I would like to add add floating animation in the svg(image) of the cards used in the about us section.this will make the page look attractive.

## Additional context
Demo of floating animation.
![doc2pen](https://user-images.githubusercontent.com/57783826/116885463-893b0700-ac45-11eb-80af-d3

[2021-05-03 15:10] raks924 commented on #205
can i work on this issue?

[2021-05-03 15:26] anushka-srivastava22 commented on #67
I am gssoc participant. Can I work upon this issue. I would love to contribute to it.

[2021-05-03 15:26] raks924 commented on #258
can i work on this issue?

[2021-05-03 15:27] raks924 commented on #254
i would like to work on this issue.kindly assign it to me.

[2021-05-03 15:29] anushka-srivastava22 commented on #83
I am gssoc participant. Can I work upon this issue . I would complete my work within few days.

[2021-05-03 15:33] raks924 opened #264 "Navigation bar titles need to change"
## Is your feature request related to a problem? Please describe.
the navigation bar titles look too big and clustered

## Describe the solution you'd like
i would like to either change the font or fontsize to make it look more pretty
![Screenshot (23)_LI](https://user-images.githubusercontent.com/68598387/116897470-e9847580-ac52-11eb-9d1e-6b0ef9a2e698.jpg)

## Additional context

[2021-05-03 15:36] RuchiGitHu commented on #247
Please look into here @K-Kumar-01

[2021-05-03 15:47] RuchiGitHu commented on #260
From this image, I am trying to say that footer should be look like footer not a part of website blocks. The content is also placed in below in the footer block. The background color is also helpful to show that this is a footer(end of the current page). Footer should be visible like header.
![image](https://user-images.githubusercontent.com/71754179/116898629-3caaf800-ac54-11eb-8e3b-a105dc182ce6.

[2021-05-03 16:12] Aaishpra commented on #260
Sure thanks for clarifying I have assigned you here @RuchiGitHu

[2021-05-03 16:14] Shivangi-ch opened #265 "UI improvement of tips section"
## Is your feature request related to a problem? Please describe.
No.

## Describe the solution you'd like
I would like to make the tips section of the website more user-friendly and in accordance with theme of the home page.

## Additional context
Please assign this to me.

[2021-05-03 16:19] A-HK commented on #67
Hey @anushka-srivastava22 @Aaishpra , still trying to work on this!

Spent the last few days debugging my application, but still coming across a few errors

[2021-05-03 16:23] A-HK commented on #67
![image](https://user-images.githubusercontent.com/73497800/116903219-bc879100-ac59-11eb-9e7b-749d938e97f0.png)

This is the error it's throwing. Do you have any idea as to what might be causing it @khushishikhu @Aaishpra ?

So sorry for taking up your time.

[2021-05-04 04:39] Aaishpra commented on #205
@Vaishnavi798 updates?

[2021-05-04 04:49] Aaishpra commented on #67
Hi, @A-HK can you share your code, then we can look into this more.

[2021-05-04 04:50] Aaishpra commented on #263
great go for it.

[2021-05-05 14:52] akshitakanojia commented on #12
@khushishikhu I would like to work on this issue.

[2021-05-05 14:57] khushishikhu commented on #12
@akshitakanojia  assigning to you

[2021-05-05 15:04] khushishikhu opened #268 "docs: Add the instruction"
## 📚 Documentation
Add the instructions about Rebasing the commits to the Contributing.md

[2021-05-05 15:58] khushishikhu commented on #264
@raks924 go ahead

[2021-05-05 16:01] #175 closed

[2021-05-05 16:04] khushishikhu commented on #247
@RuchiGitHu sorry but we don't like to have any change in the background. Thank you for showing your consult, keep opening new issues for the improvement of the website

[2021-05-05 16:04] #247 closed

[2021-05-05 16:27] #263 closed

[2021-05-05 17:03] Shivangi-ch commented on #265
Please assign this to me .The orange color in tips section does not go with the basic theme .So it should be changed. Moreover there should be some size adjustments as well. Plz give me this opportunity. @khushishikhu

[2021-05-05 17:05] Shivangi-ch commented on #262
@khushishikhu  the talk with us form can be approved .I will make it more user friendly also will apply so gradient colors to it.
Please give me a chance to do this.

[2021-05-06 07:15] raks924 commented on #264
txxx

[2021-05-06 09:21] Khushi-24 commented on #268
@khushishikhu Can I work on this?

[2021-05-06 09:50] khushishikhu commented on #268
@Khushi-24 assigning this to you

[2021-05-06 12:44] Khushi-24 commented on #268
@khushishikhu I have made the changes have a look. Please tell, if the changes made aren't correct or any further changes are required.

[2021-05-06 13:54] A-HK commented on #67
I sure will, thanks!

Meanwhile, do you have any suggestions/criticisms for this profile page?
![periodo_profile_page](https://user-images.githubusercontent.com/73497800/117309975-8e47c280-aea0-11eb-8b66-3c140815a569.png)

[2021-05-06 15:04] Aaishpra commented on #67
Well this simply looks great @A-HK , I have no problem with this

[2021-05-06 17:15] #260 closed

[2021-05-06 17:16] #246 closed

[2021-05-06 17:21] #249 closed

[2021-05-06 17:24] khushishikhu commented on #268
@Khushi-24 You have opened a PR in your forked repository instead of feminine-divine repository. please look at it again and send your PR

[2021-05-07 10:03] Khushi-24 commented on #268
@khushishikhu Sorry for the inconvenience. I corrected it.

[2021-05-07 12:41] gnikita432 opened #271 "bug in wanna rate yourself page"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/61223163/117451014-94e93f00-af5f-11eb-9370-cf83e9d0b954.png)
I would like to solve this issue

**Desktop (please complete the following information):**
 - OS: [e.g.

[2021-05-07 17:08] khushishikhu commented on #271
@gnikita432 assigning this to you

[2021-05-07 21:06] A-HK commented on #67
Hey! I think the errors that were preventing the application from running are resolved now. Created a PR - please let me know if anything is not satisfactory !

[2021-05-09 15:35] gnikita432 opened #274 "there is some error in the navbar.css code"
**Describe the bug**

There is one problem in the navbar component due to which the period app is unable to open and giving internal server error.
![image](https://user-images.githubusercontent.com/61223163/117578077-3f9d6100-b10a-11eb-9177-823a28c510dd.png)
I would like to solve this issue. Please assign it to me.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....

[2021-05-09 15:57] gnikita432 opened #275 "Bug in the whole periodo app"
**Describe the bug**

https://user-images.githubusercontent.com/61223163/117578624-dc60fe00-b10c-11eb-87fe-1d90fbe500e9.mp4

I would like to work on this issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

[2021-05-11 04:34] Shivangi-ch commented on #275
@khushishikhu @Aaishpra I have fixed it Can I make a PR for the same?

[2021-05-11 07:05] gnikita432 commented on #274
@Shivangi-ch @mayank-khyrmai I have created the issue and I have too Fixed the issue.

[2021-05-11 18:27] subhangi2731 opened #276 "Internal Server Error"
**Describe the bug**
Running npm run dev brings up an error Internal Server Error instead of the webpage

**To Reproduce**
Steps to reproduce the behavior:
1. Run npm
2. Run dev
3. See error

[2021-05-11 18:28] subhangi2731 commented on #276
please assign me this @khushishikhu I will fix the bug

[2021-05-12 03:09] subhangi2731 commented on #67
@Aaishpra can u assign me this please

[2021-05-12 03:10] subhangi2731 commented on #83
@Aaishpra please assign me these issues . I will work and share u the status

[2021-05-12 03:11] A-HK commented on #67
Hey @subhangi2731
As you can see above, I have already sent a PR to resolve this issue.

[2021-05-12 03:15] subhangi2731 commented on #67
okay @A-HK it was not merged so I thought the issue is open to be worked upon

[2021-05-12 07:17] subhangi2731 commented on #276
@Aaishpra please assign me this bug issue so that I can work further

[2021-05-12 07:20] Aaishpra commented on #276
Were you on the right directory ie `cd periodo/periodo`  @subhangi2731 and the command `npm run dev` should be run on a single line after running `npm install` it's mentioned in the setup instructions

[2021-05-12 11:21] subhangi2731 commented on #276
@Aaishpra Yes I was on the right directory and I had run according to the setup instructions it shows internal server error let me share u the screenshot will that be okay?

[2021-05-12 14:59] Aaishpra commented on #276
Ya sure and please share the screenshot of your terminal/git command shell(whatever you use) too,

[2021-05-12 17:36] garvitgupta13 opened #278 "All secret key are public"
**Describe the bug**
All the API keys are public,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
They should not be visible in public, they need to be included in .gitignore file

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safa

[2021-05-12 17:39] garvitgupta13 opened #279 "Apply form validation to talk us form"
## Is your feature request related to a problem? Please describe.
YES, currently if no one enters a value then also it will submit the form instead of that it should throw an error

## Describe the solution you'd like
Apply form validation

## Additional context
NO

[2021-05-12 17:40] garvitgupta13 opened #280 "Apply form-validation to Gynac help form"
## Is your feature request related to a problem? Please describe.
YES, currently if no one enters a value then also it will submit the form instead of that it should throw an error

## Describe the solution you'd like
Make them compulsory attribute

[2021-05-12 18:38] subhangi2731 commented on #276
@Aaishpra There is a periodo bug

Syntax error: /home/periodo/periodo/components/navbar.css Unclosed block

![Screenshot from 2021-05-12 22-07-18](https://user-images.githubusercontent.com/53938490/118027045-1d604900-b37f-11eb-8cac-457528153202.png)

[2021-05-12 18:39] subhangi2731 commented on #276
I want to resolve this please assign me the issue @Aaishpra

[2021-05-13 02:09] gnikita432 commented on #276
Hey, @subhangi2731 you have created a duplicate issue. Please check issue #274

[2021-05-13 03:32] subhangi2731 commented on #276
@Aaishpra sorry for the inconvenience I will close this issue

[2021-05-13 09:45] #67 closed

[2021-05-13 09:46] #271 closed

[2021-05-13 09:46] #258 closed

[2021-05-13 09:50] Aaishpra commented on #280
assigned

[2021-05-13 09:51] Aaishpra commented on #274
@gnikita432 send the PR

[2021-05-13 10:39] garvitgupta13 commented on #280
Hey @Aaishpra please review my PR

[2021-05-13 11:59] Shivangi-ch commented on #265
@Aaishpra Please add `gssoc` labels

[2021-05-13 12:06] Shivangi-ch opened #282 "Clean the code."
**Describe the bug**

- Due to a lot of contributions, the code is messy right now. For example improper indentation, unesseccary spaces/tabs, lack of comments to explain the code and extra commented code.
- All this makes it difficult for beginner contributors to understand the code.
- So the code should be cleaned.

**Additional context**

Please assign it under `Gssoc21`.
@khushishikhu @Aaishpr

[2021-05-13 12:38] Aaishpra commented on #282
Great go for it

[2021-05-13 12:57] Aaishpra commented on #280
I have added some comments there. Please look at them and do the required changes @garvitgupta13 and if possible add a gif showing the changes

[2021-05-13 13:17] garvitgupta13 commented on #280
Hey @Aaishpra I have made the changes you have requested
I don't have much idea about gif but instead of that I have pasted screenshots where ever possible

[2021-05-13 13:22] #280 closed

[2021-05-13 13:31] garvitgupta13 commented on #279
Please assign this issue to me under gssoc21

[2021-05-13 16:29] gnikita432 opened #284 "styling about section for mobile view"
**Describe the bug**

![image](https://user-images.githubusercontent.com/61223163/118155702-24965e00-b436-11eb-81eb-cc6943a3fbee.png)
As the headings and paragraph are not in em or rem they are not changing their size accordingly and also there is no padding or margin in the left and right side.
I would like to improve this.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click

[2021-05-13 16:34] gnikita432 opened #285 "Footer text gets aligned to left for screen size less than or equal to 320px"
**Describe the bug**

![image](https://user-images.githubusercontent.com/61223163/118156470-041ad380-b437-11eb-8590-af5eb165da1e.png)
Footer is not responsive for screen size less than or equal to 320px. I would like to work on this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**

[2021-05-14 04:22] #276 closed

[2021-05-14 06:19] subhangi2731 commented on #69
@Aaishpra please assign me

[2021-05-14 10:05] Aaishpra commented on #279
Assigned

[2021-05-14 11:21] supriyagahoi opened #288 "Two nabvar at GynacHelp"
**Describe the bug**
There is **Two Navbar ** at /Gynac.
Both are togther !!

**Screenshots**
![Screenshot (40)](https://user-images.githubusercontent.com/67188791/118263773-56f69880-b4d4-11eb-84dd-ad9442789ad3.png)

[2021-05-14 11:24] supriyagahoi commented on #288
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : supriya gahoi
Discord Tag: #2460

[2021-05-15 10:47] subhangi2731 commented on #158
@AakankshaKamal are u working on this issue? If not can I work

[2021-05-15 10:51] subhangi2731 commented on #83
@Aaishpra please assign me so that I can start working

[2021-05-15 10:53] subhangi2731 commented on #69
@khushishikhu please assign me so that I can start working

[2021-05-15 10:59] subhangi2731 commented on #83
@khushishikhu I want to work on this too please assign me I will send a pr within 2 days

[2021-05-15 11:00] #274 closed

[2021-05-15 11:01] #261 closed

[2021-05-15 11:04] #279 closed

[2021-05-15 11:09] #265 closed

[2021-05-15 11:16] khushishikhu commented on #275
@gnikita432 make the footer below the images. I have seen this error after deployment. If you want to take this I can you on this

[2021-05-15 11:17] khushishikhu commented on #284
@gnikita432 Go ahead

[2021-05-15 11:18] khushishikhu commented on #262
@Shivangi-ch  I liked your idea. If you want to go ahead with this I can assign you to this. thank you!

[2021-05-15 11:26] khushishikhu commented on #83
@subhangi2731 Sorry but I guess this issue has been done with some other method. you can take any other issue.

[2021-05-15 11:26] #83 closed

[2021-05-15 11:26] gnikita432 opened #291 "Blue color in the navbar"
**Describe the bug**

The blue color in the navbar is not looking according to the theme of the website.
I would like to changes its color to black.
![image](https://user-images.githubusercontent.com/61223163/118358867-6e01bd00-b59e-11eb-9da8-0bcf5f7116cb.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected beha

[2021-05-15 11:27] #148 closed

[2021-05-15 11:28] khushishikhu commented on #291
@gnikita432  Thank you so much for opening this issue. I was about to open it. Also on some pages, the upper portion isn't visible correctly. Please resolve that too

[2021-05-15 11:29] gnikita432 opened #292 "Navbar is overlapping the heading of all the pages."
**Describe the bug**

The navbar is overlapping the heading of the tips section.
![image](https://user-images.githubusercontent.com/61223163/118358970-ccc73680-b59e-11eb-8f2b-481a73bda57c.png)
![image](https://user-images.githubusercontent.com/61223163/118359123-98a04580-b59f-11eb-9c86-5145098dc159.png)

I would like to fix this issue.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '..

[2021-05-15 11:31] khushishikhu commented on #292
@gnikita432  Correct all these things in the previous issue  you have opened as I have told there.

[2021-05-15 11:31] #264 closed

[2021-05-15 11:32] #172 closed

[2021-05-15 11:33] #129 closed

[2021-05-15 11:33] #117 closed

[2021-05-15 11:34] #170 closed

[2021-05-15 11:34] khushishikhu commented on #278
@garvitgupta13 Thank you for opening this issue

[2021-05-15 11:35] #154 closed

[2021-05-15 11:36] gnikita432 commented on #292
Okay Sure, Thank you. I will close this issue.

[2021-05-15 11:36] #292 closed

[2021-05-15 11:37] gnikita432 commented on #291
Okay sure. Thank you for assigning.

[2021-05-15 11:43] gnikita432 commented on #275
@khushishikhu The issue I have created is not coming now.
![image](https://user-images.githubusercontent.com/61223163/118359392-d05bbd00-b5a0-11eb-84a3-c0cfce31c54d.png)
Currently the navbar is looking like this.

Are you saying to make it like this?
![image](https://user-images.githubusercontent.com/61223163/118359366-aefad100-b5a0-11eb-948f-f75bac20dde0.png)

[2021-05-15 12:07] A-HK commented on #144
Hey @khushishikhu @Aaishpra , is this issue still being worked on?
If not, would you mind assigning it to me?

[2021-05-15 12:19] khushishikhu commented on #275
@gnikita432 yes correct. I want exactly like this.

[2021-05-15 12:41] AakankshaKamal commented on #158
@subhangi2731  Yes You can I wont be able to do it right now.

[2021-05-15 12:52] subhangi2731 commented on #158
thank u @AakankshaKamal can u please assign me this @khushishikhu

[2021-05-15 13:37] gnikita432 commented on #275
Okay sure, I will do this. Thank you.

[2021-05-15 14:21] Shivangi-ch commented on #262
@khushishikhu Yes.Please assign this to me.

[2021-05-15 14:36] #291 closed

[2021-05-15 14:39] #278 closed

[2021-05-15 14:43] khushishikhu commented on #285
@gnikita432 go ahead

[2021-05-15 16:43] kumarishalini6 opened #295 "Social Media icons"
## Is your feature request related to a problem? Please describe.
I want to add social media icons at the home page (which is on footer) on the left side  because in footer it doesn't look nice and the home page is also simple. And also want to add hove effect.
like:-
![118266222-c03fc280-b466-11eb-8f4c-bc2327c6c2d8](https://user-images.githubusercontent.com/69043944/118371544-8bf8fe80-b559-11eb-8

[2021-05-15 17:03] kumarishalini6 commented on #295
Can I work on this issue under GSSoC'21 participant.

[2021-05-15 17:12] #282 closed

[2021-05-16 04:47] Aaishpra commented on #295
Great!! Go for it.

[2021-05-16 04:47] Aaishpra commented on #295
But please add them to the right side of the site We have our navbar on the left now

[2021-05-16 04:49] kumarishalini6 commented on #295
sure

[2021-05-16 07:23] kumarishalini6 opened #299 "Navbar on Login/Signup/Forget password page"
## Is your feature request related to a problem? Please describe.
I have seen there is no navbar in login, signup and forget password page . I guess there should be navbar.
I want to work on this issue under GSSoC'21.
![Log in to Periodo - Personal - Microsoft​ Edge 5_16_2021 12_48_07 PM](https://user-images.githubusercontent.com/69043944/118389052-812f7f80-b5d4-11eb-8733-dd384f846ec4.png)
21.

[2021-05-16 09:11] vanshika2906 opened #300 "Adding Speech Recognition and Synthesis feature to Chatbot"
## Is your feature request related to a problem? Please describe.

Speech Recognition and Speech Synthesis feature to Chatbot

## Describe the solution you'd like

Adding a speech recognition feature where user can use his/her voice to type and speech synthesis where chatbot reads out the message for the user.

## Additional context

[2021-05-16 13:29] Saatvik21 opened #302 "Bug in Calendar Responsiveness"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Calender'
2. Resize it below 768px till 400px
4. See error

**Expected behavior**
The background of the calendar does not cover up the whole calendar text

**Screenshots**
![Screenshot_3](https://user-images.githubusercontent.com/61618767/118398993-a4136f80-b678-11eb-9837-1eb0ba7a6f58.png)

**Desktop (please complete

[2021-05-16 16:22] #284 closed

[2021-05-16 17:38] khushishikhu commented on #302
@Saatvik21 go ahead

[2021-05-16 17:39] khushishikhu commented on #300
@vanshika2906  I liked this feature would you like to be assigned on this issue

[2021-05-16 17:41] khushishikhu commented on #299
@kumarishalini6 I don't think that we have all those kind of pages. We just have a signup page

[2021-05-16 17:44] kumarishalini6 commented on #299
Yes this is a single page sorry , just editing it

[2021-05-16 17:45] khushishikhu commented on #299
actually, this is autogenerated page you can not edit it

[2021-05-16 17:46] kumarishalini6 commented on #299
ok

[2021-05-16 17:47] kumarishalini6 commented on #299
if editing is not possible then close this issue

[2021-05-16 17:47] #299 closed

[2021-05-16 19:24] #268 closed

[2021-05-16 19:24] #240 closed

[2021-05-16 19:26] vanshika2906 commented on #300
Yes @khushishikhu, I would like to work on this.

[2021-05-16 19:28] khushishikhu commented on #158
@subhangi2731 assigned you on this

[2021-05-16 19:39] kumarishalini6 opened #303 "Improving navbar"
## Is your feature request related to a problem? Please describe.
The color of navbar is black and the color of side navbar is white but their colour should be according to theme of the project (pink or shades of pink) . I want to work on this issue under GSSoC'21 participant.

[2021-05-16 19:39] kumarishalini6 commented on #295
Merged

[2021-05-16 19:39] #295 closed

[2021-05-16 19:39] kumarishalini6 commented on #295
Merged

[2021-05-16 19:54] kumarishalini6 commented on #303
![Periodo App - Personal - Microsoft​ Edge 5_16_2021 11_37_16 PM](https://user-images.githubusercontent.com/69043944/118410734-6c3b0680-b63d-11eb-8450-f81279e8d246.png)

[2021-05-16 20:16] khushishikhu commented on #303
@kumarishalini6 go ahead

[2021-05-16 20:17] kumarishalini6 commented on #303
Thanks

[2021-05-17 02:35] gnikita432 opened #304 "Bug in gynac help page"
**Describe the bug**

The gynac help page is not responsive for mobile view
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/61223163/118425309-8c72d000-b6e6-11eb-9059-9a59750759a5.png)

**Desktop (please complete the following informa

[2021-05-17 02:40] gnikita432 commented on #12
@akshitakanojia you still working on this issue?

[2021-05-17 02:51] WebVishal opened #305 "Removing Text overlapping on Tips Page"
When I was passing through the Tips page when I saw that page is not responsive in a better way, some text headings overlap with the paragraphs.
can I  work on this issue under GSSoC'21 participant?

![chrome_EwXz2kJdbU (1)](https://user-images.githubusercontent.com/76445546/118426117-3ef76280-b6e8-11eb-9d11-f5ab2c00ef1a.png)

[2021-05-17 04:44] khushishikhu commented on #305
@WebVishal go ahead

[2021-05-17 06:42] #302 closed

[2021-05-17 07:38] Aaishpra opened #308 "Submit an idea how to connect the different pages"
## Is your feature request related to a problem? Please describe.

Currently, almost all the pages are separated and are not connected to each other an the application stops working after rate your self page, create a solution to connect other pages to it (Until we don't have a backend to support the application)

## Describe the solution you'd like

Just submit your proposal in the comments and c

[2021-05-17 07:44] gnikita432 commented on #308
@Aaishpra Can we use react-router?

[2021-05-17 07:46] gnikita432 commented on #12
@khushishikhu If no one is working on this issue then will you please assign it to me?

[2021-05-17 07:50] gnikita432 opened #309 "The text in about us page is hard to read"
**Describe the bug**

![image](https://user-images.githubusercontent.com/61223163/118451090-7f6bd600-b712-11eb-8dc5-29bb2bfaeaf7.png)
I would like to change the text style so that it will be more visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the

[2021-05-17 07:57] Aaishpra commented on #308
Sure you can use whatever for implementing this, but before we need a solution means what will be the best way to connect these pages shall we connect the rate yourself page to quiz page or to something else...
Do you get it?

[2021-05-17 08:01] gnikita432 commented on #308
Ohh Okay, got it.

[2021-05-17 10:10] garvitgupta13 opened #310 "Text in navbar is very light"
**Describe the bug**

Text in navbar is very thin and difficult to read

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

We can enhance the font-style of the navbar elements and make it more easy to read

**Screenshots**

![image](https://user-images.githubusercontent.com/70805691/118472129-1db56700-b

[2021-05-17 10:14] garvitgupta13 opened #311 "Analysis page is not responsive"
**Describe the bug**

In mobile view the analysis page breaks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/70805691/118472473-813f9480-b726-11eb-8bb8-a86c4e363634.png)

**Desktop (please complete the following information):**
 - O

[2021-05-17 10:40] kumarishalini6 opened #312 "Added features in Tips page"
## Is your feature request related to a problem? Please describe.
I have seen the Tips page , by seeing that page I thought there should be added 2,3 .
1) How to use napkin,
2)Which napkin should,
3)Time to change Napkin
4)Things Avoid during periods
5)Things to do in periods (existing )

I want to make Tips with new style :-
When someone open that page there should be buttons (all the topics butt

[2021-05-17 10:49] Saatvik21 opened #313 "Dynamically Update Current Year in Footer"
## Is your feature request related to a problem? Please describe.

Currently, the year mentioned in the footer is in text form.

## Describe the solution you'd like

I would like to make it dynamic so that when this year ends, it automatically updates to 2022.

[2021-05-17 12:10] akshitakanojia commented on #12
yes @gnikita432 I'm working.

[2021-05-17 13:57] khushishikhu commented on #309
@gnikita432 Go ahead

[2021-05-17 13:58] khushishikhu commented on #310
@garvitgupta13  Go ahead

[2021-05-17 13:59] khushishikhu commented on #312
@kumarishalini6  Go ahead

[2021-05-17 14:05] khushishikhu commented on #313
@Saatvik21 cool, Go ahead

[2021-05-17 14:17] khushishikhu commented on #304
@gnikita432  This issue is already opened #254

[2021-05-17 14:23] #304 closed

[2021-05-17 18:27] #313 closed

[2021-05-17 18:31] #303 closed

[2021-05-17 19:04] ambivert-sam commented on #12
@khushishikhu Mam please can you please merge my PR at least for the design I have created for the login page?

[2021-05-17 19:11] khushishikhu commented on #12
@ambivert-sam okay make a PR for it. just add your design as a file. I will merge it

[2021-05-17 19:44] ambivert-sam commented on #12
Yup, it's merged but you said it will not be counted. Ma'am so the design will be counted then?

[2021-05-17 19:56] kumarishalini6 commented on #312
@khushishikhu  I need your help, can you please tell me how to implement new page I am not able to found the app.js file.

[2021-05-17 19:56] kumarishalini6 commented on #312
And where is error page

[2021-05-17 20:02] khushishikhu commented on #12
Yes it will I have putted the label on that so it will

[2021-05-17 20:09] ambivert-sam commented on #12
Thank you ❤

[2021-05-18 07:08] gnikita432 opened #317 "Add hover effect on navbar"
## Is your feature request related to a problem? Please describe.

I would like to add some hover effect on navbar.
## Describe the solution you'd like

## Additional context

[2021-05-18 08:27] #309 closed

[2021-05-18 09:46] #310 closed

[2021-05-18 12:05] gnikita432 opened #319 "Restroom and chat button is overlapping some content in mobile view."
**Describe the bug**

![image](https://user-images.githubusercontent.com/61223163/118647628-2ded4500-b7ff-11eb-8931-d06c19ef8c3f.png)
I would like to place the restroom and chat button at an equal level from the bottom and side.
And make the content visible which is now overlapping.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See

[2021-05-18 12:14] gnikita432 opened #320 "Bug in wanna rate yourself page in mobile view"
**Describe the bug**

![image](https://user-images.githubusercontent.com/61223163/118649016-a7396780-b800-11eb-9397-c3218bd53d21.png)
Some boxes are not aligned properly. I would like to arrange all the boxes equally.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please c

[2021-05-18 17:13] #285 closed

[2021-05-18 17:16] #69 closed

[2021-05-19 06:10] subhangi2731 opened #324 "Integrate google maps using React in adding hospitals"
For adding hospitals list, I will do integrate google maps in react so that it provide directions to the hospital address
and show a route to that and to provide live updates on distance and location.

[2021-05-19 06:10] subhangi2731 commented on #324
@khushishikhu please assign this issue to me

[2021-05-19 07:04] khushishikhu commented on #324
@subhangi2731 assigned

[2021-05-19 13:20] #262 closed

[2021-05-19 13:49] Sukriti-sood opened #326 "Improvement in Tips section and Quiz"
![Periodo App](https://user-images.githubusercontent.com/55010599/118824068-28fbc480-b8d7-11eb-96b0-46b956d64d6c.png)
![Periodo App (1)](https://user-images.githubusercontent.com/55010599/118824079-2b5e1e80-b8d7-11eb-9153-f5933e5aa932.png)

- Quiz should be aligned properly and Its emptiness should be covered by images
-  Heading of Cards is overlapping with paragraph

[2021-05-19 15:30] #311 closed

[2021-05-20 06:58] kumarishalini6 commented on #312
@khushishikhu  i have made front page can u please tell me is it ok or need some changes
![Periodo App - Personal - Microsoft​ Edge 5_20_2021 12_25_50 PM](https://user-images.githubusercontent.com/69043944/118933437-ab937c80-b8f5-11eb-9aed-de06d4c8a17b.png)

[2021-05-20 06:59] kumarishalini6 commented on #312
sorry i am late because of my internals , i hope you'll understand.

[2021-05-20 07:11] akshitakanojia commented on #12
@khushishikhu I'm facing some system issues. Though I've almost completed the work, but due to the system issues I cannot make PR. I request you to assign this issue to someone else. Apologies for the inconvenience.

[2021-05-20 07:27] khushishikhu commented on #319
@gnikita432 go ahead

[2021-05-20 07:46] Sukriti-sood commented on #326
@khushishikhu  PLease assign to me

[2021-05-20 10:39] kumarishalini6 opened #330 "About us page section"
## Is your feature request related to a problem? Please describe.
I have seen in about us section their is "HOW WE HELP " section not look good because of background color (black) because it matches with the logo and need to change font family. I want to work on this issue under GSSoC'21.
![InkedAbout - Personal - Microsoft​ Edge 5_20_2021 04_01_18 PM_LI](https://user-images.githubusercontent.com/

[2021-05-20 10:42] kumarishalini6 opened #331 "Improvement in Calander page"
## Is your feature request related to a problem? Please describe.
There should be some border shadow and margin from top in calander page. I want to work in this issue under GSSoC'21.
![About - Personal - Microsoft​ Edge 5_20_2021 04_02_57 PM](https://user-images.githubusercontent.com/69043944/118965331-0d171380-b915-11eb-8ea8-59b569d74cbd.png)

[2021-05-20 17:04] vanshika2906 opened #332 "Myths In Tips Page"
## Is your feature request related to a problem? Please describe.

I would like to add new point in tips page that aware a individual about the myths during period.

## Describe the solution you'd like

## Additional context

[2021-05-21 06:21] #312 closed

[2021-05-21 06:24] #243 closed

[2021-05-21 07:29] kumarishalini6 commented on #330
@khushishikhu  thanks for the last issue and please assign me this issue I really want to improve it.

[2021-05-21 08:07] khushishikhu commented on #330
@kumarishalini6 I don't think that it is a valid issue

[2021-05-21 08:08] kumarishalini6 commented on #330
Ok , no problem

[2021-05-21 08:08] #330 closed

[2021-05-21 08:09] kumarishalini6 commented on #331
And this one?

[2021-05-21 08:48] kumarishalini6 opened #333 "Feedback form"
## Is your feature request related to a problem? Please describe.
There should be a feedback form section in navbar. From that form we came to know how our website are useful for the People, how much they like it, improvement needed for the website , things they want in the website ,etc.
Can I work in this issue under GSSoC'21 participant.

[2021-05-21 11:08] kumarishalini6 opened #334 "FAqs section in navbar"
## Is your feature request related to a problem? Please describe.
There should be a section in navbar FAqs for the period beginner girls and for the others too.

[2021-05-21 11:08] kumarishalini6 commented on #334
Can I work work on this issue under GSSoC'21 participant.

[2021-05-21 11:09] kumarishalini6 commented on #334
@khushishikhu

[2021-05-21 12:55] khushishikhu commented on #12
@srishtij2000 yaa sure. Assigning you

[2021-05-21 16:00] subhangi2731 commented on #308
@Aaishpra please assign me this issue

[2021-05-21 16:02] subhangi2731 commented on #254
@khushishikhu please assign me this issue

[2021-05-21 16:05] khushishikhu commented on #254
@subhangi2731 assigned you

[2021-05-21 16:07] Aaishpra commented on #308
@gnikita432 are u working here?

[2021-05-21 16:14] subhangi2731 commented on #140
@khushishikhu can i work on this please

[2021-05-21 16:14] #288 closed

[2021-05-21 17:54] subhangi2731 commented on #308
@Aaishpra i dont think she is assigned?

[2021-05-21 18:16] kumarishalini6 opened #337 "404 error page"
## Is your feature request related to a problem?
There is no error page in project I want to design error page , can I work on this issue under GSSoC'21 participant.

[2021-05-22 02:51] Aaishpra commented on #308
Ya she wasn't but she commented first so let's check if she is interested or not.

[2021-05-22 04:33] kumarishalini6 opened #338 "Scroll to top button in each page"
## Is your feature request related to a problem? Please describe.
I want to add scroll tot top button in every page , can i work on this issue under GSSoC'21.

[2021-05-22 04:34] kumarishalini6 commented on #338
@khushishikhu  please assign this issue to me.

[2021-05-22 09:00] #324 closed

[2021-05-22 18:38] garvitgupta13 opened #340 "Navbar font size issue"
**Describe the bug**

Font Size of Tips in navbar is smaller than others

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**

Its font size must be equal to other elements of the navbar

**Screenshots**

![image](https://user-images.githubusercontent.com/70805691/119237526-e813e200-bb5a-11eb-97d8-1987a35

[2021-05-22 18:39] garvitgupta13 opened #341 "Quiz page is not responsive"
**Describe the bug**

Quiz page breaks in mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/70805691/119237573-2a3d2380-bb5b-11eb-9aba-09e2fa45aadd.png)

**Desktop (please complete the following information):**
 - OS: [e.g.

[2021-05-22 19:01] garvitgupta13 opened #342 "Text overlaps the image"
**Describe the bug**

Text overlaps the images in mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/70805691/119238105-278ffd80-bb5e-11eb-8962-6ddf44243ee9.png)

**Desktop (please complete the following information):**
 - O

[2021-05-22 19:02] subhangi2731 commented on #308
@khushishikhu please assign this issue to me . I don't think anyone is working on this

[2021-05-22 19:38] subhangi2731 commented on #101
@khushishikhu please assign me this issue. I want to work on this

[2021-05-22 19:39] subhangi2731 commented on #118
@khushishikhu is this issue open ? can i work on this

[2021-05-22 19:49] khushishikhu commented on #101
@subhangi2731 assigned you on this

[2021-05-23 01:27] kumarishalini6 commented on #338
@khushishikhu  please assign this issue to me.

[2021-05-23 03:27] subhangi2731 commented on #308
@Aaishpra @khushishikhu please assign me this

[2021-05-23 05:39] #158 closed

[2021-05-23 05:41] khushishikhu commented on #341
@garvitgupta13 assigned you

[2021-05-23 05:42] khushishikhu commented on #334
@kumarishalini6 assigned

[2021-05-23 05:44] #320 closed

[2021-05-23 17:30] vanshika2906 opened #348 "Add Alert Box"
## Describe the solution you'd like

I would like to add a alert box just below the navbar saying something like. "Good Landing! Create a profile to get started". Will provide functionality that it will appear for only 5 seconds and then will disappear.Please assign this to me. Thankyou!

[2021-05-23 17:35] vanshika2906 commented on #332
Please assign this to me if  it is good to go? Let me know if you want to add some suggestions. Thankyou!

[2021-05-24 13:05] gnikita432 opened #349 "Tips section is not responsive"
**Describe the bug**

I would like to make the tips page responsive
![image](https://user-images.githubusercontent.com/61223163/119351985-c03d8f00-bcbe-11eb-89f6-162acc5ed42a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

[2021-05-24 13:07] gnikita432 opened #350 "Bug in Quiz page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/61223163/119352257-13afdd00-bcbf-11eb-9afa-c7baee50eaf0.png)
The heading in quiz page is not properly aligned.
I would like to work on this issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (pleas

[2021-05-24 18:17] kumarishalini6 opened #353 "Timer"
I want to make a timer to check blood flow. There is a clock and buttons start, stop, reset .
I want to add these features in calander page when someone open that page there will be 2 option of timer and calander .
I want to work on this issue under GSSoC'21 participant.

[2021-05-24 18:23] kumarishalini6 opened #354 "Social campaign"
There should be a social campaign option in navbar through that the girls belongs to small villages become more confident and free from shyness, she came to know even government helping her .

[2021-05-24 18:23] kumarishalini6 commented on #353
@khushishikhu please assign this issue to me.

[2021-05-24 18:23] kumarishalini6 commented on #354
@khushishikhu please assign this issue to me.

[2021-05-24 18:38] khushishikhu commented on #353
@kumarishalini6 assigned

[2021-05-24 18:40] #331 closed

[2021-05-24 18:41] #338 closed

[2021-05-24 18:42] #340 closed

[2021-05-24 18:43] khushishikhu commented on #349
@gnikita432 assigned

[2021-05-24 18:45] #341 closed

[2021-05-24 18:46] #342 closed

[2021-05-24 19:04] #319 closed

[2021-05-25 06:53] tanishq-arya opened #355 "Change position of Restrooms and chat buttons"
## Is your feature request related to a problem? Please describe.
They are stuck to side if they are main view of site it will be much better.

![image](https://user-images.githubusercontent.com/77333275/119452439-0133b300-bd54-11eb-8fb9-3c3d2a066bce.png)

[2021-05-25 06:58] tanishq-arya opened #356 "Add hover effect to the PERIODO text in footer"
## Is your feature request related to a problem? Please describe.
Add hover effect similar to other icons in footer.
![image](https://user-images.githubusercontent.com/77333275/119453062-a8b0e580-bd54-11eb-873e-f7a24eec3e1d.png)

[2021-05-25 06:58] tanishq-arya commented on #356
Please assign me this issue.

[2021-05-25 07:00] tanishq-arya opened #357 "Fix quiz page"
**Describe the bug**
Fix the quiz page
![image](https://user-images.githubusercontent.com/77333275/119453341-f3326200-bd54-11eb-8a1a-fa79617eee46.png)

[2021-05-25 07:00] tanishq-arya commented on #357
Please assign me this issue.

[2021-05-25 07:18] tanishq-arya opened #358 "Improve README"
## 📚 Documentation

The introduction para on top is clustered. I can improve upon the text and make it look better.

The code segments in readme with comments are confusing. Single commands are much more clear and faster to understand. I would like to update the installation and setup part.

[2021-05-25 07:19] tanishq-arya commented on #358
@khushishikhu Please assign me this issue.

[2021-05-25 09:56] tanishq-arya commented on #356
Like this
![image](https://user-images.githubusercontent.com/77333275/119478583-8aa3af00-bd6d-11eb-85ba-41ce209eb908.png)

[2021-05-25 10:06] vanshika2906 opened #359 "Remove Extra space"
## Describe the solution you'd like

Want to remove this extra space which is present on all webpages.
![image](https://user-images.githubusercontent.com/65587816/119480106-f3d7f200-bd6e-11eb-9793-8778fbd9587f.png)

[2021-05-25 11:20] khushishikhu commented on #356
Assigned

[2021-05-25 15:30] RuchiGitHu opened #361 "Happy Periodo User section slide bars"
## Is your feature request related to a problem? Please describe.
If anyone can see the user experience with the app and their feedback then they will not hesitate to use the feathers of app. This section will help them to know that how many user are using app with good experience.

## Describe the solution you'd like
I want to make user experience and feedback section with slides above the talk t

[2021-05-25 15:31] khushishikhu commented on #361
@RuchiGitHu assigned

[2021-05-25 16:13] tanishq-arya commented on #355
@khushishikhu Please assign this to me.

[2021-05-25 16:41] #356 closed

[2021-05-26 05:27] vanshika2906 opened #364 "Add Welcome Bot"
## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want to happen.
I would like to add a GitHub action, got appeared when someone creates a issue.
Saying something like this
"Thank you for opening an issue.
To get assigned to this particular issue please wait for maintainers."
I would like to work on this. Please assign this to me.

[2021-05-26 08:44] janvi01 opened #365 "Bug in quiz page"
**Describe the bug**

1. Headline is not proper alligned.
2.  After playing quiz, on clicking "tell me more" section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

Have a look.
<img width="1422" alt="Screenshot 2021-05-26 at 2 10 04 PM" src="https://user-images.githubusercontent.co

[2021-05-26 08:44] janvi01 commented on #365
I would like to work on this issue.

[2021-05-26 08:45] janvi01 commented on #365
The issue is already opened.

[2021-05-26 08:45] #365 closed

[2021-05-26 11:22] Kumud-869231165 commented on #364
I would like to work on this.
Please assign me this issue as part of GSSOC `21

[2021-05-26 11:27] khushishikhu commented on #364
@vanshika2906 assigning you. @Kumud-869231165 you can take any other issue where no activity is going on.

[2021-05-26 11:56] Saatvik21 opened #366 "Contact Form not Responsive"
**Describe the bug**
The comments text area in the contact form is not properly aligned with other text inputs as it's width decreases when the screen size decreases below 1000px. Also the submit button is not centered in screen size below 1000px.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
![Screenshot

[2021-05-26 12:14] khushishikhu commented on #366
@Saatvik21 Assigned

[2021-05-26 16:39] Aaishpra commented on #308
@subhangi2731 updates?

[2021-05-26 17:07] subhangi2731 commented on #308
@Aaishpra will send pr by tomorrow

[2021-05-26 17:58] subhangi2731 commented on #308
@Aaishpra a new header/navbar should be created with hyperlinks to all the pages and with dropdowns to contain all links. My suggestion is this and please tell me  what new pages which are not currently shown in the website, are expected to be shown?
so that I will work accordingly I am working on this now currently please reply

[2021-05-27 06:59] subhangi2731 commented on #308
@Aaishpra @khushishikhu please reply here

[2021-05-27 07:17] subhangi2731 opened #371 "Documentation on the process of setting up eslint and making the code prettier and adding inline support JS to ESlint"
## 📚 Documentation

I will add the Documentation on the process of setting up eslint and making the code prettier and making the code prettier and adding inline support JS to ESlint

[2021-05-27 07:17] subhangi2731 commented on #371
@khushishikhu please assign this issue to me

[2021-05-27 07:35] Aaishpra commented on #308
I don't want a new navbar or new pages, basically I want you to propose a solution to how to connect all these pages ie. When we click on start of the application we get a calendar  page after that we get a rate yourself page and the application stops after that, i want you to connect the rate yourself page with any other page like the quiz page or tip page

[2021-05-27 12:37] #364 closed

[2021-05-27 18:00] #254 closed

[2021-05-27 18:02] #140 closed

[2021-05-28 04:42] vanshika2906 commented on #348
Somewhat like this below the navbar. Please assign this to me. Thankyou!!
![image](https://user-images.githubusercontent.com/65587816/119930479-25360500-bf9d-11eb-93f9-55f5c15bfba6.png)

[2021-05-28 04:47] subhangi2731 commented on #104
@khushishikhu please assign me this

[2021-05-28 07:18] #366 closed

[2021-05-28 07:58] #354 closed

[2021-05-28 11:53] #101 closed

[2021-05-28 13:56] kumarishalini6 opened #380 "overlapping in quiz page"
![Periodo App - Personal - Microsoft​ Edge 5_28_2021 07_18_01 PM_LI](https://user-images.githubusercontent.com/69043944/119994740-57ce0680-bf79-11eb-96ab-520815ca5fe6.jpg)

Can i work on this issue ??
@khushishikhu

[2021-05-28 15:54] Saatvik21 opened #381 "Social Campaign not Responsive"
**Describe the bug**
The social campaign page is not responsive.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

![Screenshot_1](https://user-images.githubusercontent.com/61618767/120010596-f2baf500-bffa-11eb-9049-a114d5d22433.png)
![Screenshot_2](https://user-images.githubusercontent.com/61618767/12001060

[2021-05-28 16:14] khushishikhu commented on #381
@Saatvik21 assigned

[2021-05-29 04:41] kumarishalini6 opened #383 "Video section in navbar"
There should be a section of video in navbar for those who don't want to read the document . I want to make that section.
Can I work on this issue under GSSoC'21 participant.

@khushishikhu  please assign this issue to me

[2021-05-29 08:17] #334 closed

[2021-05-29 08:21] #381 closed

[2021-05-29 08:21] kumarishalini6 commented on #383
@khushishikhu  can you please assign this issue to me